[2021-10-31 11:15] FleetAdmiralButter opened #2 "Can't seem to get GShade to install"
Hi,

I'm coming over from the Reddit thread - I followed the instructions on Step 8 but can't seem to get GShade to install.

I'm at the point where I'm installing GShade.Latest.Installer.exe but the installer throws this error and hangs:

![Screen Shot 2021-10-31 at 10 13 03 pm](https://user-images.githubusercontent.com/37036084/139580217-6d62fc3f-e6df-43dc-bae7-468e587b5d07.png)

My CX is patche

[2021-10-31 11:27] seathasky commented on #2
Let me look into this. As of now I need to know if you are on Intel or M1.

Also if you have all the dependencies installed correctly.

In the meantime, please try the linux script, it should work on Mac as well: https://github.com/HereInPlainSight/gshade_installer

i just tested in terminal and it seems to be working.
![Screen Shot 2021-10-31 at 7 26 03 AM](https://user-images.githubusercontent.c

[2021-10-31 11:54] seathasky commented on #2
Use the linux script, it will work on Mac: https://github.com/HereInPlainSight/gshade_installer

Use option "2" and add it manually.

![68747470733a2f2f692e696d6775722e636f6d2f524c36414d32702e706e67](https://user-images.githubusercontent.com/17598024/139614575-e1be2b49-b5e7-4c6a-9bde-6d4e8575498b.png)

[2021-10-31 12:27] FleetAdmiralButter commented on #2
Got it going with the Linux script! Thanks!

[2021-10-31 12:27] seathasky commented on #2
Glad it worked!

[2021-10-31 13:15] Jaybotics opened #3 "Unable to login with Windows license"
Hello, I did all the steps on here, and I have done the regedit, the game loads perfectly fine, but when I select my datacenter to login it gives me an error message saying that this service license isn't registered to this account.

<img width="1289" alt="Screen Shot 2021-10-31 at 6 15 13 AM" src="https://user-images.githubusercontent.com/93477207/139585275-0e2b32c3-b50c-42ae-bcf5-a3c676c8a279.pn

[2021-10-31 13:27] seathasky commented on #3
https://github.com/marzent/ffxiv-on-mac did you run this script first? This will patch your Crossover and allow HideWineExports to function properly.

[2021-10-31 14:50] Jaybotics commented on #3
I didnt, but did just now and still having the issue with logging in. Do I need to redo the whole process?

[2021-10-31 20:27] seathasky commented on #3
Are you using stock launcher or xivlauncher?

Also if you patched your Crossover correctly you will only be able to log into a windows license by default unless you add 0 to hidewineexports. Make sure the script was successfully installed

[2021-10-31 21:21] Jaybotics commented on #3
I just downloaded Crossover a few days ago, so unless their was an update in the last couple of days, it should be the most current version. I can check later. I'm also using XIVLauncher. How can I tell if the script was successfully installed?

[2021-11-01 00:19] seathasky commented on #3
Xivlauncher should say "wine on linux" in the title.
![68747470733a2f2f692e696d6775722e636f6d2f796b77664c706d2e706e67](https://user-images.githubusercontent.com/17598024/139613889-deec783d-ea36-48a9-b900-9393b54e4b53.png)

After installing Marzent's script correctly, terminal will echo 'You can now follow the rest of the install guide!'

[2021-11-01 10:20] EddDaDing opened #4 "Patch Installer issue when trying to install to external drive"
![Screen Shot 2021-11-01 at 9 17 58 pm](https://user-images.githubusercontent.com/93520369/139656762-39491605-e079-40f9-9604-1e3109db6992.png)

When I try to install via the portable launcher I get the Error shown in the print screen, trying to install to external drive as not enough room on m1 Mac mini drive.

When I try and run the regular launcher it just pauses on this screen (screenshot below

[2021-11-01 11:59] EddDaDing commented on #4
![Screen Shot 2021-11-01 at 10 58 58 pm](https://user-images.githubusercontent.com/93520369/139668077-8af79770-98c2-4c75-b5d4-9f8132b908a0.png)

Now I don't know how but I have regressed to this, can't even get the launcher open...

[2021-11-01 12:40] seathasky commented on #4
I'm looking into the XIVLauncher for you with the devs but I would change your patching method to ARIA. It's probably set to NET.
![Screen Shot 2021-11-01 at 8 44 58 AM](https://user-images.githubusercontent.com/17598024/139673537-febc5965-f868-44a1-8163-a59e95aab1a3.png)
Alternatively, run the 2nd way of installing Xivlauncher, make sure to uninstall any trace of xivlauncher prior (including anyt

[2021-11-01 13:39] EddDaDing commented on #4
Thanks for the timely response I will give it a go tomorrow, as for the removing every trace of the old launchers is there a step by step I can follow somewhere to do that?

[2021-11-01 13:44] seathasky commented on #4
You're very welcome. As far as removing every trace. Remove the initial folder you downloaded completely and then go to your users folder and find the folder xivlauncher as well:
![Screen Shot 2021-11-01 at 9 43 41 AM](https://user-images.githubusercontent.com/17598024/139681330-b4fe42df-7403-4aff-a98f-4887e12fb1a2.png)

just delete that, start over and make sure to set patching to aria 👍

[2021-11-01 19:07] seathasky opened #5 "Dalamud Plugins crashes FF14 on Injection on Mac/Linux"
Dalamud Plugins in XIVLauncher crashing FF14 on Mac OS & Linux after November 1st update. Waiting on fix. Disable in game features in XIVlauncher settings before logging in until further notice.

Read more about it here: https://github.com/goatcorp/Dalamud/issues/670

[2021-11-01 21:58] #5 closed, assigned to nobody

[2021-11-02 05:51] EddDaDing commented on #4
![Screen Shot 2021-11-02 at 4 50 42 pm](https://user-images.githubusercontent.com/93520369/139793300-e4a4ee66-18a2-4435-94f7-a9f201a40ac3.png)

Deleted all the folders and re ran the launcher and am now getting this before I can try logging in with the new settings.

[2021-11-02 05:59] seathasky commented on #4
is .net 4.8 installed? if not https://support.microsoft.com/en-us/topic/microsoft-net-framework-4-8-offline-installer-for-windows-9d23f658-3b97-68ab-d013-aa3c3e7495e0 also which install did you do?

[2021-11-02 06:00] EddDaDing commented on #4
yes .net 4.8 is installed and I selected run command and opened the launcher

[2021-11-02 06:03] seathasky commented on #4
which file are you trying to launch? Screenshot the exact folder structure

On Tue, Nov 2, 2021 at 2:00 AM EddDaDing ***@***.***> wrote:

[2021-11-02 06:04] EddDaDing commented on #4
![Screen Shot 2021-11-02 at 5 04 17 pm](https://user-images.githubusercontent.com/93520369/139794452-38f3b31d-2942-42d5-8699-03b5747b15b8.png)

[2021-11-02 06:06] EddDaDing commented on #4
the second I try to type in the password field and freezes and crashes

[2021-11-02 06:11] seathasky commented on #4
Do me a favor and open crossover and show me all the dependencies you have installed. scroll down and show screenshot for everything if you can
![Screen Shot 2021-11-02 at 2 10 29 AM](https://user-images.githubusercontent.com/17598024/139795155-4000cfca-8218-4ca7-861f-a76375af8a16.png)
:

[2021-11-02 06:15] EddDaDing commented on #4
![Screen Shot 2021-11-02 at 5 14 59 pm](https://user-images.githubusercontent.com/93520369/139795470-96f3bc85-f77d-49aa-a809-7f0614819371.png
![Screen Shot 2021-11-02 at 5 15 09 pm](https://user-images.githubusercontent.c
![Screen Shot 2021-11-02 at 5 15 20 pm](https://user-images.githubusercontent.com/93520369/1397
![Screen Shot 2021-11-02 at 5 15 27 pm](https://user-images.githubusercontent.com/

[2021-11-02 06:17] EddDaDing commented on #4
![Screen Shot 2021-11-02 at 5 16 30 pm](https://user-images.githubusercontent.com/93520369/139795630-e590dd42-2579-436d-9ecf-8fd8e8b880fa.png)

![Screen Shot 2021-11-02 at 5 16 47 pm](https://user-images.githubusercontent.com/93520369/139795656-13987ef2-a820-47c0-9ed0-73307791eac6.png)

![Screen Shot 2021-11-02 at 5 17 03 pm](https://user-images.githubusercontent.com/93520369/139795686-97a936ac-5b

[2021-11-02 06:19] seathasky commented on #4
you are missing key .net frameworks from the x64 dependencies, did you get errors when making your bottle?

[2021-11-02 06:22] EddDaDing commented on #4
It got stuck a bunch of times and I had to press skip it was either skip or cancel

[2021-11-02 06:24] seathasky commented on #4
You need to redo your bottle completely, if you follow the guide step by step, you shouldn't have issues. That is my recommendation. just move your square enix folder from that bottle to your desktop, and stick it into the bottle if you already downloaded the full game (to save you time)

If anything gets skipped, you will run into these issues again

[2021-11-02 06:27] EddDaDing commented on #4
Ok I will try from scratch now and let you know if the error come up again

[2021-11-02 06:28] seathasky commented on #4
Screen shot any errors while installing (if you get any).

[2021-11-02 07:11] EddDaDing commented on #4
![Screen Shot 2021-11-02 at 6 10 47 pm](https://user-images.githubusercontent.com/93520369/139801522-4e4481cf-d0a5-4059-8abf-6ea8e77c9ee7.png)

!new error just dropped!

getting closer it seems at least.

[2021-11-02 07:15] EddDaDing commented on #4
![Screen Shot 2021-11-02 at 6 15 29 pm](https://user-images.githubusercontent.com/93520369/139802061-167d7ebc-0a28-46cd-823a-1bf280755724.png)

tried again and got this

[2021-11-02 07:22] EddDaDing commented on #4
Maybe I can't install from scratch in a wine bottle to a external drive? I unfortunately have no space to install it onto the Mac drive and move it over.

[2021-11-02 07:46] EddDaDing commented on #4
![Screen Shot 2021-11-02 at 6 45 49 pm](https://user-images.githubusercontent.com/93520369/139805883-54d27958-d349-40ba-8966-7d485a9c065e.png)

When I try and run the default launcher using the fix you posted earlier, changing the config file browser to "1".

[2021-11-02 11:33] seathasky commented on #4
Not sure why xivlauncher is giving you soo much trouble, that's odd. As far as default launcher, press enter while in pw field instead of pressing the button with mouse. This is covered in the troubleshooting section:

![Screenshot_20211102-073355_GitHub.jpg](https://user-images.githubusercontent.com/17598024/139839117-2111e920-d798-4502-bf77-fd4a7acad764.jpg)

I don't know how to help with xivlau

[2021-11-02 11:39] EddDaDing commented on #4
The default launcher was crashing before I even got to that point that screenshot was on opening the client. As for the rest of the issues I have managed to make space despite my crying and Im just installing onto the Mac HDD which now has it downloading so I assume has fixed the Issue.

So there is definitely some issue with trying to use crossover to download and install the game straight onto a

[2021-11-02 11:55] seathasky commented on #4
It might have been a FF14 thing/crossover on external like you said. That's why I was confused why it wasnt working for you. Either way, this is good bug testing and I will use this information in the guide that you cant run cx on an external hd.

You can most likely symlink your install after everything is setup if you need the extra space. You can read about symlinking here if you have never don

[2021-11-02 12:13] EddDaDing commented on #4
Cheers will let you know and if I had to guess its probably due to some macOS secret permissions stuff. Since like bigsur permissions have gotten way more strict and just allowing it in the privacy/security tab doesn't give it full access you have to constantly select "allow".  I feel like since its a virtual app being emulated the permissions to allow it access to the external aren't sticking or

[2021-11-02 13:04] EddDaDing commented on #4
![Screen Shot 2021-11-03 at 12 02 58 am](https://user-images.githubusercontent.com/93520369/139851921-a6e19263-da49-411f-b08f-2a2d7d16fb98.png)

ok so, made it this far and now have infinite loading screen after choosing data centre. I don't think this is the infinite black screen bug you mentioned in the troubleshoot section right? because that was a completely black screen for cinematic where as

[2021-11-02 13:59] EddDaDing commented on #4
![Screen Shot 2021-11-03 at 12 58 19 am](https://user-images.githubusercontent.com/93520369/139861552-0f3919ec-107d-4413-b195-06b132d5ed75.png)

Ok well I finally made it in after all that. Thanks for all the advice along the way, currently running on a 8gig ram m1 Mac mini so nothing too impressive to show for it yet but if I can replicate the installation onto my m1 max when it arrives should be

[2021-11-02 15:03] seathasky commented on #4
Happy you got it working! You should get way better performance on the M1 Max!

I added the external harddrive stuff to the troubleshooting section for those trying to do it in the future. Again, you should be able to symlink to your external if you choose to.

[2021-11-02 15:03] #4 closed, assigned to seathasky

[2021-11-02 15:05] seathasky commented on #4
Oh, forgot to mention, we overhauled the guide to include crosstie install as default, so when you get your new Mac, try that method, should be way easier!

[2021-11-02 16:23] seathasky commented on #3
Assuming you got this working due to lack of response. closing ticket

[2021-11-02 16:24] #3 closed, assigned to seathasky

[2021-11-02 19:52] Knalik opened #6 "Unable to run install script for Windows account"
I may be making a very silly mistake, but I can't seem to run Marzents install.sh file to get ffxiv launcher to recognize my Windows account. I have followed the steps up to logging into the launcher and installing but have gotten stuck running the script and changing files in regedit. If running the script in either terminal or script edit is not correct, how should I be going about it?

[2021-11-02 20:07] seathasky commented on #6
Open Terminal type "cd" space and drag the un-ziped "ffxiv-on-mac" folder into the terminal window after cd and press enter

![Screen Shot 2021-11-02 at 4 05 49 PM](https://user-images.githubusercontent.com/17598024/139944443-beefb264-e9cc-44e9-96dc-d554cf0bc5b2.png)

then drag the "install.sh" file into the window and press enter again
![Screen Shot 2021-11-02 at 4 08 09 PM](https://user-images.g

[2021-11-02 20:18] Knalik commented on #6
Perfect!

That did the trick.

Thank you very much for all the hard work on this and the very quick reply!

[2021-11-02 20:22] seathasky commented on #6
You're welcome! Enjoy!

[2021-11-02 20:22] #6 closed, assigned to seathasky, marzent

[2021-11-03 05:25] Amperthorpe opened #7 ""This Square Enix account cannot play FINAL FANTASY XIV" error in FFXIVLauncher after install."
...and yes it's the right account, I checked by logging into the Lodestone and it works fine. :P

I followed the install steps using the .tie. I didn't run the script to allow modding at first, so after it didn't work the first time I ran the script, deleted the bottle, and installed it again. The launcher starts but has the same error as soon as I click log in.

I only have a Window license, so m

[2021-11-03 05:27] seathasky commented on #7
https://github.com/seathasky/FF14-MAC_ModSupport#step-8-optional---so-you-want-to-use-your-ff14-windows-license-instead-of-the-mac-one

[2021-11-03 05:33] seathasky commented on #7
Additionally if you dont know how to open regedit in crossover, Task manager, file, New task (run), type regedit, find Wine folder change hidewineexports to 1

![Screen Shot 2021-11-03 at 1 31 17 AM](https://user-images.githubusercontent.com/17598024/140013830-ae2e69ba-f26f-425a-b33a-cea598c8d343.png)

![Screen Shot 2021-11-03 at 1 34 26 AM](https://user-images.githubusercontent.com/17598024/14001

[2021-11-03 05:38] Amperthorpe commented on #7
Ah, I didn't think I would need to complete the following steps until the game launched at all. That and the registry edit fixed it, downloading the game now. Thanks!

[2021-11-03 05:43] seathasky commented on #7
GG! Have fun!

[2021-11-03 15:44] ryielle opened #8 "Odd rendering ingame?"
Hey,

Thanks for all the work on this!
Using the tie and following the instructions (I have not yet done the instructions for the mods yet), I'm able to log in - but the rendering doesn't seem quite right - I've attached a screenshot of Eulmore:

<img width="1800" alt="Screenshot 2021-11-03 at 15 21 17" src="https://user-images.githubusercontent.com/25732134/140092840-6953a7e6-864d-4a4f-a9c5-0bded

[2021-11-03 17:43] seathasky commented on #8
**Hi there. Make sure you have HBAO turned "OFF" in settings. Should fix this issue.**

![Screen Shot 2021-11-03 at 1 42 54 PM](https://user-images.githubusercontent.com/17598024/140163480-79c0a009-6592-4004-a4f9-787dd0fc5af4.png)

**I can replicate your issue by turning that setting on:**

![Screen Shot 2021-11-03 at 1 44 46 PM](https://user-images.githubusercontent.com/17598024/140163809-78b4059

[2021-11-04 00:34] ryielle commented on #8
That was it, thank you so much!
Sorry if I missed some documentation...

[2021-11-04 00:34] #8 closed, assigned to seathasky

[2021-11-04 04:22] videodromejockey opened #9 "Black screen/infinite loading animation after data center select"
I followed the directions on a fresh install of Crossover. I've gotten the game to launch without a problem using my Windows license. However, when I select the data center, it goes to a black screen with an infinite loading animation in the bottom right and never goes further. Any advice?

[2021-11-04 04:26] seathasky commented on #9
issue is covered here: https://github.com/seathasky/FF14-MAC_ModSupport#troubleshooting

[2021-11-04 04:29] videodromejockey commented on #9
CutsceneMovieOpening is already set to 0.

[2021-11-04 04:32] seathasky commented on #9
It should be set to 1

[2021-11-04 04:33] videodromejockey commented on #9
Ok, troubleshooting section should probably be changed to say that. Thanks!

[2021-11-04 04:33] #9 closed, assigned to seathasky

[2021-11-04 04:34] seathasky commented on #9
you're welcome

[2021-11-04 05:24] videodromejockey commented on #2
I am having a similar issue but can't install due to apparently missing commands.

When running the script, I get:

`GShade initial install not found, would you like to create it?  y
Creating...  The following necessary command(s) could not be found: 7z, md5sum, wget, wine
,%`

[2021-11-04 05:41] seathasky commented on #2
Unfortunately we only troubleshoot issues related to this project. Your issue is with terminal dependencies. A good place to start is by installing Homebrew for mac and installing missing necessary homebrew (7z, md5sum, wget etc)

https://osxdaily.com/2018/03/07/how-install-homebrew-mac-os/

good luck

[2021-11-04 13:33] seathasky commented on #2
@marzent is possibly working on an easier install of Gshade for Mac users. Will update when available.

[2021-11-04 14:02] videodromejockey commented on #2
I was able to solve everything but the missing wine command using Homebrew, despite having Wine installed. I would definitely appreciate an easier solution though! Appreciate it.

[2021-11-04 19:05] ghost opened #10 "Option keypress isn't recognized in the key binds"
I'm used to using that key as a modifier for my Hotbar. Using control isn't a solution as it is too far away from my thumb. I guess that the behavior of the option key was customized by CodeWeavers in the official client of FFXIV.

[2021-11-04 22:06] seathasky commented on #10
Try karabiner elements https://karabiner-elements.pqrs.org/

[2021-11-05 03:31] realAbitbol opened #11 "Performance about 20% worse than "native" client"
## System
<img width="587" alt="image" src="https://user-images.githubusercontent.com/73762857/140453709-b2826618-4a14-4235-9bd1-6967bc2713bd.png">

## Crossover (Legit version used, trial)

<img width="782" alt="image" src="https://user-images.githubusercontent.com/73762857/140452241-695f3929-e4b2-4d3e-83a7-6fbf0f96e140.png">

## Game settings (identical for "native" and crossover)

<img width="7

[2021-11-05 03:50] realAbitbol commented on #10
I can confirm Karabiner Elements solves the problem.
I suggest using a remap of "left option" to "left command" because, surprisingly, command seems to equal alt inside the crossover bottle
<img width="795" alt="image" src="https://user-images.githubusercontent.com/73762857/140455272-082680ca-49cb-4fee-a712-cfd98168263b.png">

[2021-11-05 03:58] seathasky commented on #11
Heading to bed now. Me or @marzent will look into this tomorrow.

[2021-11-05 04:00] realAbitbol commented on #11
Gnite, feel free to reach to me if needed

[2021-11-05 10:21] marzent commented on #11
Would be interesting to see if the performance drop also occurs without patching CrossOver, in the steps to reproduce the problem it is not really needed…
You could also maybe disable dxvk's hud though that is kinda grasping at straws, feel free to hit me up on Discord (ウサギ#4334) prob easier to find a solution that way

[2021-11-05 10:34] realAbitbol commented on #11
Will do ASAP
Included the crossoverpatch because I want to be able to run plugins. Just didn't included them in the tests so that the comparison was as simple as possible

[2021-11-05 10:40] realAbitbol commented on #11
Disabled dxvk HUD by commenting the "DXVK_HUD" = "fps" line : Same performance (40 fps)

[2021-11-05 10:43] seathasky commented on #11
Try the latest nightly here. Close crossover completely and copy the nightly on top of Crossover.app in application folder. Next launch, cx will update (should work on trial, hopefully) if not scratch this idea

https://drive.google.com/file/d/19RlxCcUkfx8CmXPk5I4xHrbq_hVZIiCr/view?usp=sharing

You dont need to change anything in your prefix

[2021-11-05 10:49] realAbitbol commented on #11
@marzent
Sent you a friend request on Discord

[2021-11-05 10:50] realAbitbol commented on #11
What do you mean by prefix ?

[2021-11-05 10:53] seathasky commented on #11
the physical directory where your bottles are, just overwrite the Crossover.app with the nightly one and reopen it and an update should prompt (if it works on trial)

[2021-11-05 10:56] realAbitbol commented on #11
Did it (works with trial).
unfortunately performance stays the same

<img width="166" alt="image" src="https://user-images.githubusercontent.com/73762857/140500134-acf6605b-3d1e-4210-aa06-f5e7d8ea5299.png">

[2021-11-05 11:14] seathasky commented on #11
I'm assuming you're on a hackintosh right?

[2021-11-05 11:19] realAbitbol commented on #11
Not at all, I'm on a genuine iMac 5k from 2017 (the biggest model with i7 and Radeon Pro 580)
https://support.apple.com/kb/SP760?viewlocale=en_US&locale=en_US

[2021-11-05 11:36] seathasky commented on #11
ohh! Hey trying running the game in 1080p (Fullscreen) if you can, the 580 is going to struggle getting frames at 5k res. Even a 5700 XT would have problems running at that resolution.

I can almost guarantee this is your issue.

[2021-11-05 11:42] realAbitbol commented on #11
It works much better in fullscreen but I'd really porefer to run it in fullscreen borderless.
Furthermore "native" version works this way pretty fine.
Both get a performance boost if I change the screen mode but native always is ahead fps-wise

[2021-11-05 11:47] seathasky commented on #11
I'm just saying, dont expect much more than that with addons running at 5k in borderless with a 580 and a 7th gen i7. Bottleneck city if you ask me.

If you want the best of both worlds, lower your desktop resolution to 1080 and than run in borderless... install gshade, you can pretty up your game that way without worrying about frame drops.

[2021-11-05 11:50] realAbitbol commented on #11
I understand but currently I run without any addons and yet there is a significant performance drop.
Will do what you said once we figure out what the problem is.

[2021-11-05 11:55] seathasky commented on #11
remove these last 3 env variables from you bottle config, reboot cx and test for me please
![Screen Shot 2021-11-05 at 7 55 19 AM](https://user-images.githubusercontent.com/17598024/140506841-8acee716-ee54-4954-a8f9-488d64fdf2e3.png)

you dont even need harmony debug anymore anyways. pretty sure dalamud fixed that (dont quote me)

[2021-11-05 11:56] realAbitbol commented on #11
Actually @marzent asked me to do that on discord, did it but no change

[2021-11-05 12:03] seathasky commented on #11
Alternatively you can try https://github.com/Gcenx/WineskinServer  here if you haven't already, but you will have to install all the dependencies manually inside winetricks & the custom dxvk_macos.verb as well.

Personally, I dont know what else to try at this point, outside of a fresh Macos install, your performance should be going up in cx21, not down.

I dont know what else to suggest.

[2021-11-05 12:18] #2 closed, assigned to nobody

[2021-11-05 13:08] realAbitbol commented on #11
Tried a whole bunch of things with @marzent on Discord but, unfortunately, it didn't change anything.
I might try to do a full reinstall of macos as you suggested but it's a bit complicated because I'm using my mac to work too.

What would be really helpful at this point would be having info from other users running with a radeon pro 580 or 570.
If anyone has better perf than native  it would mean

[2021-11-05 14:12] realAbitbol commented on #11
I'm not running at 5k res : because it's a retina res it's effectively running at half which is 2560x1440 AKA 1440p

[2021-11-05 22:05] seathasky commented on #11
Well that's what i am saying. You are the first to have such issues which makes me think it's just either bottleneck or some other issue.

As far as others with your same setup, that might be rough. I do have an older Mac with Catalina and a 580 4gb card, but it has a 4th gen i5 and is sitting in my closet collecting dust. I might pull it out tonight and test for you though, I'm curious how it wou

[2021-11-05 22:56] seathasky commented on #11
I ended up pulling it out and going to test on it
![Screen Shot 2021-11-05 at 6 55 28 PM](https://user-images.githubusercontent.com/17598024/140587108-a4210bbf-d8d7-4e09-b981-52a8614e209e.png)

[2021-11-05 23:10] seathasky commented on #11
![Screen Shot 2021-11-05 at 7 08 49 PM](https://user-images.githubusercontent.com/17598024/140588010-59f0462c-b353-4b47-98e4-987739bbe65a.png)
This is on a worse setup than yours @realAbitbol slower ram, slower cpu, less gpu memory. and I get 60-120 fps depending on where I am. with plugins enabled

[2021-11-05 23:21] seathasky commented on #11
oh shit just realized esync was off let me test with it on

[2021-11-05 23:33] seathasky commented on #11
okay this is in the open world, with exact same settings that you showed
![Screen Shot 2021-11-05 at 7 29 42 PM](https://user-images.githubusercontent.com/17598024/140589030-b738977f-a73f-4685-abd9-361e6230fcd7.png)
![Screen Shot 2021-11-05 at 7 30 57 PM](https://user-images.githubusercontent.com/17598024/140589186-b6d753b1-2755-4cfb-a8af-aaacea9b02ce.png)
![Screen Shot 2021-11-05 at 7 32 23 PM](h

[2021-11-06 03:23] realAbitbol commented on #11
I'll do that then, thanks a whole lot for your help !

Will report here once it's done of course

[2021-11-06 03:24] realAbitbol commented on #11
Just a question : were you running 1440p ?

[2021-11-06 03:26] seathasky commented on #11
1080p throughout the test

On Fri, Nov 5, 2021 at 11:24 PM realAbitbol ***@***.***>
wrote:

[2021-11-06 03:27] realAbitbol commented on #11
That might explain, will try in 1080p right now

[2021-11-06 03:28] seathasky commented on #11
Didn't I mention for you to do that earlier? haha

[2021-11-06 03:30] realAbitbol commented on #11
In the beginning I think I mixed things up and thought I was in 1080p in fullscreen borderless but that's impossible unless I changed the desktop resolution which I didn't.

On my iMac screen fullscreen borderless runs at 1440p we even saw that in logs with marzent

[2021-11-06 03:31] seathasky commented on #11
I did say this too :)

[2021-11-06 03:33] realAbitbol commented on #11
I know but as I and marzent think my setup should handle 1440p easily. It even does with native.
I know I could drop the res a ton and get things working somehow but in that case it would be better to just run native with 1440p

[2021-11-06 03:34] realAbitbol commented on #11
getting 50 fps in 1080p. THat's better but nowhere close to you.
I'll reinstall macos.

Do you think I can restore with my timemachine backup or should I really start from a blank plate ?

[2021-11-06 03:35] seathasky commented on #11
Ya you should be getting way more fps than my old machine, its only a 4th gen i5 and 4gb card, there is def something wrong.

[2021-11-06 03:38] realAbitbol commented on #11
Forgot to mention that I'm running with a 2nd 4k screen attached (unused by the game tho)

[2021-11-06 03:40] seathasky commented on #11
You could always try unplugging the dp cable and test with 1 monitor before you format

[2021-11-06 03:41] realAbitbol commented on #11
I'll do that but it would puzzle me because native works fine with it.

[2021-11-06 03:42] seathasky commented on #11
![1yj28o](https://user-images.githubusercontent.com/17598024/140596807-83112c06-74bb-4950-ae44-1bc9966e5da5.jpg)

[2021-11-06 03:43] realAbitbol commented on #11
No change, I'll reinstall macos from scratch now, not using my timemachine backup. It will be painful but, hopefully, worth it.
See you on the other side xD

[2021-11-06 03:44] seathasky commented on #11
I really do hope it fixes the issue, if not I dont know what else you could do

[2021-11-06 03:45] realAbitbol commented on #11
Know I really appreciated the help of both of you

[2021-11-06 06:50] realAbitbol commented on #11
Completely reinstalled macOS Big Sur from scratch without using my time machine backup.
Bare minimum install : no additional software installed except Crossover 21 and Textmate.
Redid the whole procedure from scratch.

Result : performance **_might_** be a tad higher but nowhere near native or near your results.
Game somehow feels sluggish even with 50 fps.
Game is kinda playable but there are ran

[2021-11-06 07:31] seathasky commented on #11
Did you let shader cache build? Use abilities, run around to different spots for at least 30 mins.

[2021-11-06 07:33] marzent commented on #11
Last thing I would suggest is transplanting the dxvk used with the "native" version into the cx 21 bottle and you would (probably?) see no performance difference

[2021-11-06 07:33] realAbitbol commented on #11
I'll try that.
I've noticed I can tell even from the login screen if I'm running native or CX : the mouse pointer kinda jumps on CX

[2021-11-06 07:39] seathasky commented on #11
Technically, you should be seeing more performance over my old i5 closet machine as your machine has better everything...I'm sorry we were unable to help you.

I dont really know at this point and dont think we will be able to assist you any further.
I'd try marzents last comment at the very least and my last comment of letting the dxvk shader cache build.

[2021-11-06 07:41] realAbitbol commented on #11
I'll try that too @marzent I'll message you on discord for the transplantation as I have no idea on how to do it once I reinstalled discord if you don't mind

[2021-11-06 09:12] #10 closed, assigned to seathasky

[2021-11-06 11:45] realAbitbol commented on #11
Transplantation didn't go so well (game crashes) , Marzent gonna run some tests tonight.
Meanwhile I'm trying a Monterey upgrade to check if it works better with it

[2021-11-07 07:24] seathasky commented on #11
Better performance by downgrading libMoltenVK.dylib compiled and provided by @marzent.
Closing this issue for now as solved.

[2021-11-07 07:24] #11 closed, assigned to seathasky, marzent

[2021-11-08 08:42] seenasa opened #12 "Do I need to have FFXIV installed on Mac prior to using this guide?"
Trying to install the game following the guide on a brand new MacBook Pro M1 Max and the installer seems to be stuck on "waiting for download". Also, I wasn't clear on whether to enable in game features, so I left it checked. Thanks for your help and for creating this guide!

<img width="340" alt="Screen Shot 2021-11-08 at 12 40 25 AM" src="https://user-images.githubusercontent.com/15369952/140710

[2021-11-08 15:37] seathasky commented on #12
Try changing the patching method in the launcher:
![Screen Shot 2021-11-08 at 10 36 43 AM](https://user-images.githubusercontent.com/17598024/140771489-6395c4b1-f4ee-4554-8569-0fe841c3f218.png)

[2021-11-08 20:41] jordanearle opened #13 "Black screen on launch after MoltenVK update for M1 Users. SOLVED"
Hey,

Just did a clean install following the new instructions with the latest script and I'm having issues starting the game.

The game has worked.. a few times, but 95% of the time the launcher opens and I get a black screen with the FPS counter. No Square Enix logo and the game doesn't proceed past this point.

This is on a new M1 Pro MacBook Pro using Crossover 21.

No mods, just followed all r

[2021-11-08 20:41] seenasa commented on #12
Changing the method worked but after about an hour of downloading it crashed with this error

<img width="1348" alt="Screen Shot 2021-11-08 at 12 40 27 PM" src="https://user-images.githubusercontent.com/15369952/140815047-cbc28c2c-94ca-4fa4-b9f9-c9a2291b2c24.png">

[2021-11-08 22:28] seathasky commented on #13
~~this is covered in our troubleshooting section: https://github.com/seathasky/FF14-MAC_ModSupport#troubleshooting~~

[2021-11-08 22:32] seathasky commented on #12
Make sure you have all 3 of these settings checked
![Screen Shot 2021-11-08 at 5 32 06 PM](https://user-images.githubusercontent.com/17598024/140828676-20fec014-2ee5-4f88-b5aa-626004978446.png)

[2021-11-08 23:01] seenasa commented on #12
I enabled performance enhanced graphics, dxvk backend for d311 and performance enhanced synch, and didn't get the fatal error but the frozen black screen. I followed the instructions to change the openingcutscene value to 1 and restarted the game but got the fatal error again.

[2021-11-08 23:06] seathasky commented on #12
Try restarting and resetting nvram and report back

[2021-11-08 23:10] marzent commented on #13
Are you using the newer MoltenVK version by chance?

[2021-11-08 23:40] seenasa commented on #12
reset the NVRAM using the terminal command in recovery mode and rebooted, am getting the same black screen. It's been about a minute and no crash yet. Any ideas on how to fix this? I also noticed that there is no folder for crossover along the application support path for step 2 performance tweaks.

edit: just restarted and got the crash

<img width="1348" alt="Screen Shot 2021-11-08 at 3 42 07 PM

[2021-11-08 23:55] seathasky commented on #12
Other M1 users are having success with our setup guide. I havent encountered this error with a user before who is on M1, so I dont know where to start.

https://www.reddit.com/r/macgaming/comments/qiuwew/ffxiv_late_game_benchmarks_m1_pro/

I would make a comment on this post regarding your issue and maybe the original poster can assist you on how he got it to work with our guide. I don't personall

[2021-11-08 23:59] seathasky commented on #12
There is a folder, you are just looking in the wrong place. As far as finding your folder make sure you unhide files (  cmd + shift + . )  It's in the user's Library

![Screen Shot 2021-11-08 at 6 58 25 PM](https://user-images.githubusercontent.com/17598024/140837108-3cdffe62-09f1-4c16-880a-ef8376616908.png)

[2021-11-09 00:04] seathasky commented on #13
Do you happen to see the loading wheel in the bottom right corner? Or is everything just black?

[2021-11-09 00:05] seathasky commented on #12
I'm going to assign our developer @marzent to this and see if he can help you

[2021-11-09 02:15] seenasa commented on #12
Thanks for your help. I was able to find the the files, and added the code in and now there's just a black screen with an fps counter, without the loading bar, no crash yet

<img width="1392" alt="Screen Shot 2021-11-08 at 6 13 59 PM" src="https://user-images.githubusercontent.com/15369952/140849273-3d7957d8-7edd-4576-8c53-d3fd8857c886.png">

[2021-11-09 02:32] seenasa commented on #12
Okay, I got the game to run after playing around with some of the settings.

I switched to a Windows license (i have both, and it didn't work), and then I switched back to the Mac and disabled "enable in-game features". Is having that disabled cause issues such as duty finder pops?

 I'm getting pretty solid FPS (around 60-80 in New Gridania and up to 120 outside according to the overlay in the to

[2021-11-09 02:39] seathasky commented on #12
In the next few days we will have some pretty ground breaking updates to the project which include, updating dxvk (which Crossover doesnt even do yet). @marzent has been working hard to improve the project were doing and we're seeing some astounding results so far with some of the additions he's doing. We just haven't released them to the public yet as we're still testing stuff (soon TM)

To answe

[2021-11-09 02:52] seenasa commented on #12
That's super exciting, thanks a bunch for all the support!

I'm a layman when it comes to tinkering with software like this and planning to play the game without any add-ons (not sure what any of the plugins are). So to clarify, it won't affect any of the basic features of the game? I also wasn't sure what was meant by using the patcher.

As far as in game settings go, when selecting a resolution,

[2021-11-09 02:58] seathasky commented on #12
You dont need plugins in the game at all. They are all QoL stuff anyways, nothing game breaking. On or off dont affect the game in any way. They for personal use.

capping fps with ff14 through crossover is kind of buggy at the moment and can actually lower your fps and cause stuttering. I would advice not doing it.

In game doesnt matter as much, it really depends on what your personal setup can

[2021-11-09 03:14] seathasky commented on #12
Going to close this issue for now since your game is running, keep an eye on updates soon

[2021-11-09 03:14] #12 closed, assigned to seathasky, marzent

[2021-11-09 15:13] jordanearle commented on #13
All I see is the FPS counter, which seems to be in the lower single digits ranging from 0.6 - 2.9? No spinning wheel or logo.

[2021-11-09 15:14] jordanearle commented on #13
Not sure, It's a fresh install based on the latest script which I downloaded yesterday.

[2021-11-09 15:15] jordanearle commented on #13
It seems to be working slightly more reliable if I force it to use DirectX 9 in the FFXVI_BOOT file by setting DX11Enabled to 0...

On occasion I've also seen a DX11 fatal flaw message.

[2021-11-09 16:07] seathasky commented on #13
Unfortunately, Square Enix themselves dont support M1 processors for this game. We've seen plenty of people w/ M1 chips use our guide with success but as far as troubleshooting, me and Marzent are both Hackintosh users, so support from us will be limited.

We've been seeing very positive feedback from M1 users on Reddit from using our guide. Here's one example:
![Screen Shot 2021-11-09 at 11 06 29

[2021-11-09 20:48] adamfail commented on #13
I do want to note that I had the exact same issue described above until I removed the MoltenVK update. After removing MoltenVK, FFXIV launches just fine. I hope this helps.

[2021-11-09 21:33] xilkoi commented on #13
Same thing happened with me. Oddly, it all seemed to run just find yesterday with the MoltenVK update, but it stopped working (exhibiting the same symptoms Jordan noted) today until I reverted to the backed-up version. I am also on an M1 Pro MacBook Pro.

Out of curiosity, since I keep a stock FFXIV install on my machine, I poked through the files for it and tried to input the MoltenVK update into

[2021-11-09 22:09] seathasky commented on #13
This is very useful information Adam! I will put a warning on updating MoltenVK for M1 users! Thank you!

[2021-11-09 22:18] seathasky commented on #13
Updated Step 1 with warning for M1 users upgrading the our newer MoltenVK. Reverting to CX21's shipped MoltenVK fixes issues.

[2021-11-09 22:54] jordanearle commented on #13
Reinstalling with a new bottle and skipping the upgraded Molten VK worked, thanks! Hopefully it gets updated so the M1 can have the 25% performance boost.

[2021-11-09 22:56] seathasky commented on #13
We have other things in the works. Keep an eye on the updates here

On Tue, Nov 9, 2021, 5:54 PM Jordan Earle ***@***.***> wrote:

[2021-11-10 07:09] marzent commented on #13
Weird you having an issue with MoltenVK shouldn’t really be happening as it’s pretty much the stock version with faking two extra extensions for dxvk…
Feel free to try different patched versions from the release section [here](https://github.com/Gcenx/MoltenVK) you can even find version 1.1.3 CrossOver ships with in there (if you ever were to lose your backup)

[2021-11-10 15:51] adamfail commented on #13
I tried both 1.1.5 and 1.1.4 on the releases page. Version 1.1.4 worked and version 1.1.5 did not.

The working release was titled "Release for Vulkan SDK 1.2.182" and downloaded "macos_dxvk_patched.tar.xz."

I replaced libMoltenVK.dylib found in /Applications/CrossOver.app/Contents/SharedSupport/CrossOver/lib64 with the libMoltenVK.dylib found in the downloaded tar.xz.

I am unsure if this is the

[2021-11-10 15:53] seathasky commented on #13
Thanks for the info @adamfail

I'm thinking for the time being, we will need to have 2 different installers. One for M1 Macs and another for Intel Macs. Will try and have that up this weekend on the guide or another method.

[2021-11-10 17:57] kailred commented on #13
i have been racking my brain all morning trying to figure this out, because the game worked fine last night but today it won't. I'm glad someone just posted about reverting to 1.1.4. I'm going to give that a shot now. Macbook Air M1.

[2021-11-10 18:01] seathasky commented on #13
Ya, we just updated Step 1 for M1 users, sorry for the frustration. Unfort, both me and Marzent dont have access to M1 machines. So it's all trial and error at this point.

[2021-11-10 18:03] kailred commented on #13
No frustrations. Rolling back to 1.1.3 as directed in the previous person's comment did the trick exactly.

Grateful for all the hard work and progress. Even without the 25% boost from the MoltenVK, I'm still getting much better FPS (by 10 or so) and better response from the mouse.

Looking forward to where this goes! :)

[2021-11-10 18:03] seathasky commented on #13
![Screen Shot 2021-11-10 at 1 03 22 PM](https://user-images.githubusercontent.com/17598024/141168250-b04a54ff-b04e-49c1-8dcc-e1e836c2968b.png)

[2021-11-10 18:04] seathasky commented on #13
We will be releasing more performance enhancements soon, so keep an eye on the page, already seeing positive feedback from some users who have tested for us. Hopefully this weekend!

[2021-11-10 19:27] seathasky commented on #13
@kailred did you ever test out 1.1.4 or did you roll back to 1.1.3?

[2021-11-10 19:35] kailred commented on #13
i did not test 1.1.4, but i will be glad to do so within the hour :)

[2021-11-10 19:37] seathasky commented on #13
ty soo much, i'm going to consolidating files for intel and m1 users and need to know if its even worth having 1.1.4 for m1 or just have them use 1.1.3. i cant test so i appreciate your help

[2021-11-10 19:40] kailred commented on #13
was able to switch to 1.1.4 from 1.1.3 just now and the game operates normally. glad to help anytime

[2021-11-10 19:43] seathasky commented on #13
@kailred ty! Keep testing and report any issues you have. We will probably go with that for m1 users.

[2021-11-10 20:42] seathasky commented on #13
M1 users now have their own version of ffxiv-on-mac patcher which includes moltenvk 1.1.4 update. https://github.com/marzent/ffxiv-on-mac/tree/m1

[2021-11-10 20:42] #13 closed, assigned to seathasky, marzent

[2021-11-10 21:23] Gcenx commented on #13
Once MoltenVK-v1.1.6 release is tagged (and stable) I’ll push new packages, if this still occurs when using DXVK it’s time to open an issue with upstream MoltenVK.

Interestingly I’ve seen lockup’s with Witcher3 (GPU Lost) when using MoltenVK-v1.1.5 & DXVK but not when using WineD3D Vulkan but I’m assuming FF doesn’t run properly with that?

The attached MoltenVK-CX21 package is a source compile n

[2021-11-10 22:04] seathasky commented on #13
It seems only an issue on certain setups and mainly localized with m1 users. We did have 1 intel user not able to use it though, as it caused the same issue in FF. Both me and Marzent are on newer intel hardware with navi gpus (hackintoshs) and 1.1.5 works fine for us. So it could have something to do with older hardware for the 1 intel user who had issues with it as well. Looking forward to 1.1.6

[2021-11-10 22:10] Gcenx commented on #13
I believe this affects M1 and Nvidia cards along with some ancient AMD GPUs.

But yeah if I still get the issue on Witcher3 I’ll be opening a new issue linking back to the old closed issue. Too bad CX21.1 beta is happening as Chip would be invaluable for tracking this down.

If anyone is reading this who has an M1 system you can always try the latest MoltenVK commit just grab it from the most rece

[2021-11-11 04:58] seenasa commented on #12
Hi @seathasky i just tried launching the game and got the same blackscreen fatal error after seeing the notification that there had been an update to the launcher. Not sure what to do but im reinstalling using the new m1 specific launcher. Please advise, ty!

Now there is 2 ffxiv launcher bottles and neither seem to work. Pressing the login button is unresponsive at the login screen

[2021-11-11 05:15] saki117 commented on #7
I am using a Mac license, after the Launcher auto updated, I got the same problem.

I'v tried to modify the HideWineExports value in regedit from 0 to 2, but still cannot login...

[2021-11-11 05:21] seenasa opened #14 "Black screen + fatal error after updating launcher"
Hi @seathasky i just tried launching the game and got the same blackscreen fatal error after seeing the notification that there had been an update to the launcher. Not sure what to do but im reinstalling using the new m1 specific launcher. Please advise, ty!

Now there is 2 ffxiv launcher bottles and neither seem to work. Pressing the login button is unresponsive at the login screen

_Originally p

[2021-11-11 05:22] seenasa commented on #14
<img width="907" alt="Screen Shot 2021-11-10 at 9 22 19 PM" src="https://user-images.githubusercontent.com/15369952/141242144-556bd569-3c6b-43f0-944e-c863366c5048.png">

[2021-11-11 05:41] kailred commented on #7
I am having this issue as well as of 30 minutes ago, it worked fine earlier this evening, quit the program. Reopened, encountering this error now. Have tried editing HideWineExports as well and it still tells me this error message.

Edit for info: I only have a Mac license, and never went through initial steps to use a windows license with this.

[2021-11-11 05:53] kailred commented on #14
to add to this, i am encountering the issue that states "The Square Enix account cannot play Final Fantasy XIV" as mentioned in the other thread I just commented on as well. however, I did not use the new alternative install you created this evening, but was using the same bottle from earlier that ran successfully for the entire day. i thought that might be the issue, so I created a fresh bottle u

[2021-11-11 11:10] seathasky commented on #7
You can thank **Goat** for all of this frustration. **Marzent** literally has a fix for this yet, **Goat (xivlauncher main dev)** is being stubborn and wont merge **Marzent's** pull request. This would fix everything for Mac licenses on updates.

We actually talk about this in our guide a little bit that the Mac client will break on updates here:
https://github.com/seathasky/FF14-MAC_ModSupport#im

[2021-11-11 11:11] seathasky commented on #14
Hey guys if you missed my other message, please refer to it here: https://github.com/seathasky/FF14-MAC_ModSupport/issues/15

[2021-11-11 11:14] seathasky opened #15 "Users with Mac Licence cannot log in after update?"
After XIVLauncher updates, the Mac client will break and revert to "Wine On Linux", this is technically fixed but we're waiting on a pull request from Goat over at XIVLauncher. This is also covered in our guide and on Marzents page if you missed it. This WILL happen every XIVlauncher update until Goat (xivlauncher dev) adds @marzent's fix.

In the meanwhile, Marzent has come up with a work around

[2021-11-11 11:15] #14 closed, assigned to seathasky

[2021-11-11 11:15] #7 closed, assigned to seathasky

[2021-11-11 13:02] saki117 commented on #7
It works, thankyou!

[2021-11-11 13:32] seathasky commented on #7
You're welcome! Sorry for the frustration. Some things are out of our control (especially with 3rd party tools like xivlauncher) but we try our best to facilitate. Glad the fix worked for you!

[2021-11-11 18:56] kailred commented on #15
having some trouble figuring out how to install this quicklauncher link posted into my bottle. nothing changes after i install it.

here's my process: fresh bottle via custom installer > install updated xiv quick launcher via crossover linked above > open quicklauncher from crossover > same error message.

not sure if I'm doing something wrong? or if i should be drag/dropping the quicklauncher som

[2021-11-11 19:18] marzent commented on #15
you don't need a fresh bottle to update XIVLauncher, just rerun [XIVLauncherWine.exe](https://github.com/marzent/FFXIVQuickLauncher/releases/download/6.0.12/XIVLauncherWine.exe) inside the bottle you were using, if you can see Wine on Mac and the correct version in the titlebar you know it worked (assuming you are not running a windows license then you are prob having a different issue altogether)

[2021-11-11 22:17] marzent commented on #13
It is more performant on the title screen, but it doesn't render any 3D models on character selection and also no PCs or NPCs in the open world with pretty bad performance.

[2021-11-11 22:37] kailred commented on #15
forgive my delayed response - i am not the savviest when it comes to the more technical side of this. I'm not entirely sure what I was doing before, but It's working now that I'm running the updated .exe as a command in the bottle created by your custom installer.

Thanks for all the continued support!!

[2021-11-11 22:56] seathasky commented on #15
It's okay! No worries! CX can be confusing at first if you're not use to it, for next time, if you want to include new programs into your FF14 bottle, make sure you highlight your bottle like so, or else it defaults to a new bottle:

![Screen Shot 2021-11-11 at 5 54 39 PM](https://user-images.githubusercontent.com/17598024/141380910-85943c67-e4c5-4099-8b24-a6e7c1eb0b68.png)

I'm pleased you got it

[2021-11-12 03:59] seathasky opened #16 "Bleeding Edge MoltenVK Reporting"
<h1> Bleeding Edge MoltenVK Reporting</h1>

[Public Testing Section](https://github.com/seathasky/FF14-MAC_ModSupport/tree/main/Public%20Testing)
<h3>Leave feedback, issues etc on MoltenVK testing</h3>

<h4>Please use the template below!</h4>

---

<h2>Example template:</h2><br>

**Your current system/OS:** Apple Macbook M1 Pro / Big sur

**Crossover version used:** CX 21 stable

**DXVK used:** 1.

[2021-11-12 04:50] realAbitbol commented on #16
Moltenvk : 1.1.6
Machine : iMac 5k 2017 Radeon 580 8gb
Resolution : 1920x1080
OS : Monterey
CX : 21 Nightly November 5th
dxvk : 1.9.2

Issues : fps is like native but it feels like half fps in game
Discuss : best dylib is 1.1.0 by far for my iMac model, looks like they broke something affecting my model in later revisions of MoltenVK

[2021-11-12 06:00] kailred commented on #16
Your current system/OS: Apple Macbook M1 Air, Big Sur.
Crossover version used: CX 21 stable full version
DXVK used: 1.9
What version of MoltenVK: 1.1.6
Issues experienced in game: None so far, 10 minutes of testing.
Positives: FPS from 1.1.4 MoltenVk avg'd 20-30 in busy Limsa Lominsa. FPS from 1.1.6 is currently avg'ing  30-40 in same area. Easy instructions, thank you.

Edit for info: I have upda

[2021-11-12 10:25] seathasky commented on #16
**Your current system/OS:** Intel 10700k/5700XT Hackintosh

**Crossover version used:** CX 21, november 10 nightly

**DXVK used:** 1.9.2

**What version of MoltenVK:** my compiled 1.1.6

**Issues experienced in game:** nothing noticable comparing to 1.1.5, 20 min test

**Positives if any:** In my testing spot where i test performance, i was seeing small gains. Around 5 fps or more.

**Discuss:** D

[2021-11-12 14:15] KoB-Kirito opened #17 "Installation hangs at .NET Framework 4.7.2"
Tried it three times now. Always stops there. What can I do? :D
I'm on Macbook Air Intel 2018.

<img width="497" alt="Bildschirmfoto 2021-11-12 um 15 13 58" src="https://user-images.githubusercontent.com/51691757/141480974-9f508fdb-4235-452e-8f84-8302e1a18f99.png">

[2021-11-12 14:59] seathasky commented on #17
This is beyond our control and a Crossover problem. Please contact their support: https://www.codeweavers.com/support

[2021-11-12 15:01] KoB-Kirito commented on #17
I see, okay. I canceled that one and it seems to work though, the launcher starts at least.. I will see.

[2021-11-12 15:03] seathasky commented on #17
You will mostly not be able to inject plugins without it. I'd redo your bottle.

[2021-11-12 15:04] KoB-Kirito commented on #15
What do I do if I only have a windows licence?
I had the launcher saying linux and did this, then I have the one saying mac, but I have this error:
<img width="1029" alt="Bildschirmfoto 2021-11-12 um 15 56 12" src="https://user-images.githubusercontent.com/51691757/141487883-ed18b79c-557d-4064-b363-f7b52b86a134.png">

I guess because I only have the windows licence. But when I change the setting i

[2021-11-12 15:06] KoB-Kirito commented on #17
I redid it two times, always freezes there. I don't really need plugins. I just want the game to run better than the official version.

[2021-11-12 15:11] seathasky commented on #17
no worries, step 2 in the guide is all about performance stuff

[2021-11-12 15:21] KoB-Kirito commented on #15
Nevermind, it says Linux when changing the registry setting, but works..

[2021-11-12 15:56] seathasky commented on #15
Wine on Linux = Windows license

Wine on Mac = Mac license

[2021-11-12 16:58] Pavo-IM commented on #15
@seathasky Tried running the latest Setup.exe from your link and error
![Screen Shot 2021-11-12 at 11 57 43 AM](https://user-images.githubusercontent.com/33814640/141505186-dfda901b-d15a-4f64-ae99-b557b11d4fc6.png)

[2021-11-12 16:59] seathasky commented on #15
![Screenshot_20211112-115910_GitHub.jpg](https://user-images.githubusercontent.com/17598024/141505395-6dbf09bf-8872-4e7a-a2bc-b8f69ed6b61e.jpg)

[2021-11-12 17:01] Pavo-IM commented on #15
Ah my bad, thanks.

[2021-11-12 17:10] Pavo-IM commented on #15
Well that broke it, now getting communication error.
![Screen Shot 2021-11-12 at 12 10 01 PM](https://user-images.githubusercontent.com/33814640/141506810-5dff02da-9d54-40fd-9ee8-bda82dd6172b.png)

[2021-11-12 18:47] seathasky commented on #15
Go to patching section and change to Aria if it's on .net

![Screen Shot 2021-11-12 at 1 50 42 PM](https://user-images.githubusercontent.com/17598024/141519590-8d426671-5d49-4d02-be81-46c630e937f9.png)

[2021-11-12 19:51] Pavo-IM commented on #15
Figured out the issue, for some reason it messes up when using the installer on my Hackintosh but works fine when using a real Mac, I'll just have to use the updater on my real Mac then transfer the files over to my Hackintosh.

[2021-11-12 20:54] seathasky commented on #15
I'm on hackintosh and dont have these issues with a Mac license

[2021-11-12 21:54] seathasky commented on #15
The environment shouldnt change anything. Hack and Mac are literally the same OS.

[2021-11-12 23:09] seenasa commented on #16
Your current system/OS: Apple MacBook Pro 16 M1 Max 64GB

Crossover version used: CX 21 trial

DXVK used: 1.9.2

What version of MoltenVK: Bleeding edge

Issues experienced in-game: after replacing the moltenvk file, the game would black screen and crash on startup, is there some setting that I should change to prevent the fatal error after using the bleeding edge build?

Positives if any: Upgradi

[2021-11-12 23:24] Pavo-IM commented on #15
On an AMD type hackintosh, something don’t work so well. But it’s all good I have an alternate method

[2021-11-12 23:40] seathasky commented on #15
^

[2021-11-12 23:43] seathasky commented on #16
Did you use 1.9.2 DXVK in a different screenhot? @ssalehian0
Your screenshot shows you are on an old build of DXVK:
![Screen Shot 2021-11-12 at 6 41 57 PM](https://user-images.githubusercontent.com/17598024/141595939-4f53e632-caeb-4a54-aff1-da934c3003ba.png)

If so, please try MVK 1.1.6 again with 1.9.2 and leave DXVK backend unchecked after overwritting the .dlls in system32 or it will revert to

[2021-11-12 23:51] seenasa commented on #16
Oh, strange, sorry about that. I followed the instructions to upgrade DXVK, but it still shows an older build

[2021-11-12 23:53] seathasky commented on #16
You should see better performance with 1.1.6mvk and 1.9.2 dxvk combined. just close crossover when you do it and dont turn dxvk backend on

[2021-11-12 23:58] seenasa commented on #16
Before I retry the bleeding edge again, I wanted to confirm whether this is now the correct DXVK
<img width="199" alt="Screen Shot 2021-11-12 at 3 57 26 PM" src="https://user-images.githubusercontent.com/15369952/141596781-a0be4316-6f73-4142-91ec-89e8b6ac566d.png">

[2021-11-13 00:00] seathasky commented on #16
That is correct!

[2021-11-13 00:07] ssalehian0 commented on #16
Sweet, so I retried replacing the libmoltenvk file and turned off backend and am now getting this screen
<img width="1175" alt="Screen Shot 2021-11-12 at 4 04 49 PM" src="https://user-images.githubusercontent.com/15369952/141597219-a0cb8f4c-8a77-439f-b740-ee72f8c6b190.png">

[2021-11-13 00:09] seathasky commented on #16
So you dont want to touch anything in settings after installing DXVK. Close Crossover, install DXVK and thats it. Turning anything off and on will revert your build

[2021-11-13 00:13] ssalehian0 commented on #16
So at this point, what would the order of operations be since I've already touched put in the updated files? Ill try it another time. Thanks!

[2021-11-13 00:15] seathasky commented on #16
Close crossover, install dxvk 1.9.2, revert moltenvk to 1.1.5. launch cx. good to go

[2021-11-13 00:22] ssalehian0 commented on #16
Okay thank you, interestingly though i didn't redid the steps and didn't revert back to moltenvk 1.1.5 and now just have a black screen, no crash error, no fps counter, but with the music playing in background,

[2021-11-13 00:25] seathasky commented on #16
what version of mvk were you on previously?

[2021-11-13 00:28] ssalehian0 commented on #16
I apologize but i don't know how to check that. It was whatever version came with the patcher. Is there a way to find out from the backup libMoltenVK.dylib file I've got?

[2021-11-13 00:29] seathasky commented on #16
When you installed the patcher which one did you pick

[2021-11-13 00:34] ssalehian0 commented on #16
I remember putting y to upgrade to 1.1.5 when prompted to in the install command, so I'm assuming that one

[2021-11-13 00:34] seathasky commented on #16
Just use the backup

[2021-11-13 00:36] ssalehian0 commented on #16
I remember putting y to upgrade to 1.1.5 when prompted to in the install command, so I'm assuming that one. Just followed this. Sorry, I'm not very savvy when it comes to this stuff, so I appreciate your time.
![68747470733a2f2f696d6775722e636f6d2f667547425a6e302e706e67](https://user-images.githubusercontent.com/15369952/141598510-bface5f9-7691-481b-8a64-767ceabd940a.png)

Okay sounds good!

[2021-11-13 00:55] seathasky commented on #16
Just making sure you're back up and running, thanks for testing for us!

[2021-11-13 01:12] ssalehian0 commented on #16
Appreciate all the feedback! but yeah, about that... lol I'm not sure what happened but now I get a failed to check for updates error while starting up the launcher and holding the shift key to access settings while its checking doesn't work.

<img width="552" alt="Screen Shot 2021-11-12 at 5 12 08 PM" src="https://user-images.githubusercontent.com/15369952/141600085-ef57751e-79a3-4458-9ca5-5ca637

[2021-11-13 01:14] seathasky commented on #16
You're on a mac license correct? If so, follow the issue tracker for it that's pinned.

[2021-11-13 01:15] ssalehian0 commented on #16
I have both licenses on my account but yes, right now I have the hidewineexports set to 0

[2021-11-13 01:16] seathasky commented on #16
reinstall using this: https://github.com/marzent/FFXIVQuickLauncher/releases/download/6.0.12/XIVLauncherWine.exe

[2021-11-13 01:24] ssalehian0 commented on #16
Switching back to hidewineexports=1 didn't help, but for reinstalling, do I select in Final Fantasy XIV "A Realm Reborn" for the application and then Final Fantasy XIV Online for the bottle?

[2021-11-13 01:26] seathasky commented on #16
the whole mac/windows auth is messed up atm after patching. read #15 comment above, it explains how to install it. tldr: pick your existing bottle

[2021-11-13 01:31] seathasky commented on #16
just make it unlisted application

[2021-11-13 09:30] ssalehian0 commented on #16
@seathasky I was having some issues reinstalling so I just wiped it all and did a fresh install, and have a couple of questions. When launching the initial install command in the terminal, this time I was asked which version of MoltenVK to install, which didn't happen last time. It said do not select 1.1.5 if you're on M1 so I did 1.1.4 this time. Was that the correct choice? Also, in the performa

[2021-11-13 11:27] seathasky commented on #16
If 1.1.5 is working for you use it. It's hard to pin point what is causing black screen on M1 at this moment, but I would go ahead and use what works for you and not worry about 1.1.6

[2021-11-13 12:15] ssalehian0 commented on #16
Thank you, how do I upgrade to 1.1.5 at this point? Is there a link to download you could point me to and would I just drag it in the lib64 folder?

As for the config stuff, so would the code highlighted in red box on the screenshot be replaced with the new "GL_SHADER_DISK_CACHE_SKIP_CLEANUP" = "1"
 "MVK_CONFIG_FAST_MATH_ENABLED" = "1"
 "HARMONY_DEBUG" = "1"
?

[2021-11-13 12:18] seathasky commented on #16
As I dont mind helping you in general, this forums is meant for Bleeding Edge stuff and has now turned into a support ticket. Hit me up on discord, i'm going to purge these comments to keep this thead clean. Seathasky#0434

i'll do it in 10 mins

[2021-11-13 12:20] ssalehian0 commented on #16
Yeah, I'm sorry about that, I was thinking if I should delete these and comment somewhere else. Ill send u a message on disc

[2021-11-13 12:21] seathasky commented on #16
You are welcome to open another ticket, we can talk there

[2021-11-13 12:22] ssalehian0 commented on #16
yeah I just tried pasting your handle into disc and its saying incorrect username

[2021-11-13 12:23] seathasky commented on #16
![Screen Shot 2021-11-13 at 7 23 17 AM](https://user-images.githubusercontent.com/17598024/141643665-203beead-bbf9-4935-a97b-ab3e2ce9577a.png)

[2021-11-13 12:27] seathasky commented on #16
- purging irrelevant conversation

[2021-11-13 12:29] seathasky commented on #16
- purging irrelevant conversation

[2021-11-13 12:40] seathasky commented on #16
- purging irrelevant conversation to keep thread on topic

[2021-11-13 13:48] seathasky commented on #16
### Temporarily removed download of Moltenvk 1.1.6 until official is released.
Coming soon!

[2021-11-14 20:38] JanHantschke opened #18 "Gshade doesn't work"
I installed everything with your Guide and made all the patches when asked in the install script. After I got everything working I tried to install Gshade with the linux install script. I did all the steps and did the dll overrides in the wine settings in crossover. I even checked my installations via the shade install script and my ffxiv installation is marked green so everything should be fine.

[2021-11-14 21:06] seathasky commented on #18
Marzent will text you on discord

[2021-11-14 21:06] #18 closed, assigned to marzent

[2021-11-14 23:40] Drunemeton opened #19 "Can't start the program after installation with Molten VK 1.1.5"
**OS:** macOS 10.15.7 (Catalina, fully up-to-date on all system software)
**Macintosh:** iMac20,2 (iMac 5K with Radeon 5700XT: https://everymac.com/systems/apple/imac/specs/imac-core-i7-3.8-8-core-27-inch-retina-5k-2020-20-2-specs.html)
**Crossover:** 21 stable (New purchase, nothing but this installed.)

**Installer:** https://github.com/marzent/ffxiv-on-mac/archive/refs/heads/main.zip
**Installa

[2021-11-15 05:44] BenW125 commented on #7
Is the launcher currently working with Steam licenses? I'm getting the same error on an active account with the "Use Steam service account" box ticked.

[2021-11-15 05:46] seathasky commented on #7
If the bottle is set correctly to use windows licenses yes

[2021-11-15 05:59] BenW125 commented on #7
I thought that step was for Windows-only (specifically non-Steam) licenses, so I was scared to touch it. Seems to be working now! Thanks so much!

[2021-11-15 06:00] seathasky commented on #19
I use to have a forewarning on the guide saying that nothing is guaranteed. That includes the use of 1.1.5. Should it work with your system? Based on your specs i'd assume so, but there are too many variables to say yes or no still. We had another user who could only us moltenvk 1.0 or his performance would be terrible on anything outside of that. So it's hard to say what your specific hardware li

[2021-11-15 06:03] seathasky commented on #7
There is no such thing as a Mac Steam license, also our guide for Steam is in the windows section :)

ANDDDDDD
Directly from steam:
![Screen Shot 2021-11-15 at 1 03 06 AM](https://user-images.githubusercontent.com/17598024/141730515-bb270497-74ed-4459-85a7-4d6d7d591090.png)

[2021-11-15 10:23] FleetAdmiralButter commented on #16
Your current system/OS: Apple M1 Pro / macOS 12.1 Public Beta

Crossover version used: CX 21.1 Beta

DXVK used: 1.9.2

What version of MoltenVK: 1.1.4 - anything newer causes a black screen and crash

Resolution: 2560x1440@144Hz

Settings: High (Mac) + High Real-time Reflections + High Grass Quality + High Parallax Occlusion + x16 AF

Issues experienced in game: When using Monterey's Adaptive refr

[2021-11-15 10:57] seathasky commented on #16
@FleetAdmiralButter
I think due to rosetta translation, you are losing a LOT of performance which is unfortunate.
A good option is to use Easyres: http://easyresapp.com/

Lower your desktop to 1080p on the fly and run borderless in game, especially if you are trying to push higher frames on 144hz monitor. That's what I do and averaging 100-200 fps at all times on Mac on High Settings. (On Intel Ha

[2021-11-15 11:15] seathasky commented on #16
### Added Gcenx compiled moltenvk builds to public testing for those who want to test.
You can also find those here: https://github.com/Gcenx/MoltenVK/releases

[2021-11-15 23:31] AlphaTeam7337 commented on #17
Hiya! (First time commenting on GitHub!) Luckly, I was able to get all the .NET Framework perfectly installed and working. Thanks to that, both the FFXIV Launcher addons and even the Anamnesis worked. Here's how you do it:

Install the bottle with the "Final Fantasy XIV Online.tie" normally until you come across the .NET Framework 4.6.2. Don't let it attempt to install it and cancel all the 4.6.2,

[2021-11-16 11:09] FleetAdmiralButter commented on #16
Just gave the MoltenVK 1.1.6 release a shot (https://github.com/Gcenx/MoltenVK/releases/tag/v1.1.6) and looks like that's a no-go on M1 Pro as well - it crashes out with the same error as the previous 1.1.5 build. Guess I'l stick with 1.1.4 for now :)

Thanks for the link to Easyres @seathasky, I'll check it out.

[2021-11-16 11:36] DiruSec commented on #16
Your current system/OS: Macbook M1 Air (7-core GPU), macOS 11.6(Big Sur)

Crossover version used: CX 21

DXVK used: 1.9.2

What version of MoltenVK: 1.1.6

Issues experienced in game: Launch the game, got 2 or 3 seconds works normally, then crashed with DirectX fatal error.
Works great after downgrade MoltenVK to 1.1.4 but feels some stuttering.

Positives if any: Not feel any since I run the game

[2021-11-16 14:27] seathasky commented on #16
It seems that 1.1.4 will still be the go to for M1 users at this time.

[2021-11-16 14:51] #19 closed, assigned to seathasky

[2021-11-16 15:25] seathasky commented on #16
**Your current system/OS:** Intel 10700k/5700XT Hackintosh

**Crossover version used:** CX 21, november 10 nightly

**DXVK used:** 1.9.2

**What version of MoltenVK:** gcenx's compiled 1.1.6

**Issues experienced in game:** again, nothing noticeable comparing to 1.1.5 or my compiled version of 1.1.6

**Positives if any:** get about the same fps in my testing spot between 160-190
![Screen Shot 2021

[2021-11-16 17:04] danlavelle opened #20 "Planned support for AutoSynthesis?"
I installed AutoSynthesis into my bottle but it unfortunately crashes on startup (logs attached). Any ideas on how to support?
[autosynthesis_crash_log.txt](https://github.com/seathasky/FF14-MAC_ModSupport/files/7548357/autosynthesis_crash_log.txt)

[2021-11-16 17:39] seathasky commented on #20
Not on list of things to figure out unfortunately.  I'd contact the author of that addon and figure out what dependencies are needed to run that addon. That would be a good start.

[2021-11-16 21:07] Floki32 opened #21 ""The program XIVLauncher.exe has encountered a serious problem and needs to close. We sorry for the inconvenience""
<img width="1133" alt="Screen Shot 2021-11-16 at 4 00 51 PM" src="https://user-images.githubusercontent.com/38120118/142065563-e4d54578-97e7-48ba-82c2-134271b6187f.png">

I am getting this error every time I try and update the launcher. It get to 58GB and stops.

[2021-11-16 21:09] Floki32 commented on #21
I am using a windows license and the trial version of crossover. Any help would be much appreciated. THX!

[2021-11-16 21:32] seathasky commented on #21
2 possible causes. You are out of hard drive space or you skipped dependacies. Without more information it will be difficult to help.
Show details of error

[2021-11-16 21:46] #20 closed, assigned to seathasky

[2021-11-16 22:05] Floki32 commented on #21
Hey, how can I check that the dependancies was installed correctly.

Here is what the show details of error shows:

<img width="875" alt="Screen Shot 2021-11-16 at 4 52 05 PM" src="https://user-images.githubusercontent.com/38120118/142073190-55334bd4-57e4-4cd4-b0d5-8e337fb8f089.png">
<img width="863" alt="Screen Shot 2021-11-16 at 4 52 37 PM" src="https://user-images.githubusercontent.com/38120118

[2021-11-16 22:24] seathasky commented on #21
If you skipped any dependacies or something didn't get installed you will run into issues. My advice would be to run our install script and crosstie again and make sure nothing gets skipped and verify everything gets installed.

You shouldn't be running into this issue

[2021-11-16 23:02] Floki32 commented on #21
hmmm.... I don't remember anything not getting installed. But i will try running the script and crosstie again.

[2021-11-16 23:15] Drunemeton commented on #19
Seathasky,

I'm new to GitHub so if replying to a closed issue isn't the correct protocol please let me know and I'll be happy to create a new issue if needed. That being said…

I re-ran the "install.command" and don't see ay option for "don't recheck dxvl for backend" so I'm not sure where this option is located.

I've changed my "cxbottle.conf" file and the bottom of it is now this:
"WINEESYNC"

[2021-11-17 00:10] seathasky commented on #19
There is no protocol to follow, you are free to comment on a closed thread. I closed your thread because, our guide, if followed correctly should produce desired results. If you are doing testing or having issues with moltenvk, you have 3 options to use from the install script or you are free to test any of the moltenvks in the public testing section. There isnt much I can do for you outside of th

[2021-11-17 01:23] Floki32 commented on #21
UPDATE: So I deleted the bottle, and restarted from step one. So far the launcher hasn't ran into any errors. IDK what happened, but I didn't do anything different this time...

Unfortunately the update is pretty big, and i have slow internet, so i have to wait a while for it to finish the download.

[2021-11-17 02:00] seathasky commented on #21
Let me know how it goes! Good luck! Closing this issue for now

[2021-11-17 02:00] #21 closed, assigned to seathasky

[2021-11-17 15:53] Gcenx opened #22 "Add a warning when changing MoltenVK"
Changing MoltenVK may benefit FF however other applications/games will be affected negatively. (e.g. Witcher3 only like MoltenVK-CX-21 on Apple Silicon)

Another important thing that should be noted is changing any files within CrossOver.app breaks Code-Signing and Notarization meaning some required entitlement requests will become invalid and ignored. (e.g. macOS Catalina 10.15.0 > 10.15.3 might

[2021-11-17 15:57] seathasky commented on #22
I can update the public testing page with this information for sure. I think most people will mainly be using your compiles for this project but the information is useful regardless. Honestly just going to screen this if you're okay with that so it's coming from you yourself.

[2021-11-17 16:01] seathasky commented on #22
Public testing now includes your warning, Thanks Dean!

![Screen Shot 2021-11-17 at 11 01 17 AM](https://user-images.githubusercontent.com/17598024/142235884-bb22c527-f407-4b0c-b1b9-948ea8b80166.png)

[2021-11-17 16:01] #22 closed, assigned to nobody

[2021-11-17 18:28] Floki32 commented on #21
UPDATE: After 8+ hrs, it finally finish the download. I did run into the issue 2 more times. I'm thinking it may just be related to my internet connection, and not due to me missing something during the install.

But I was able to force close the launcher and restart the download and eventually finished.

[2021-11-17 19:15] Drunemeton commented on #19
That's perfect. Thank you!

[2021-11-17 21:08] Guuttan commented on #15
I got the game running on Windows once, restarted it and now it only runs on Mac. (_Wine on Mac_)
I have reinstalled the "XIVLauncherWine.exe" file, the hidewineexports is set to "1" and "Enable in game features" is checked as per the installation guide.

I would appreciate any help :) Thank you.

[2021-11-17 22:05] seathasky commented on #15
Can you still log into the game or get an error message?

[2021-11-17 22:16] Guuttan commented on #15
I only get the "This Square Enix account cannot play FFXIV" since I only have the Windows version.

[2021-11-17 22:17] seathasky commented on #15
How was the game installed? Crosstie? or through Marzents .exe

[2021-11-17 22:20] Guuttan commented on #15
I used the zip file from "Step 1" in your setup guide. Then I used the XIVLauncherWine.exe from marzents comment above.

[2021-11-17 22:23] seathasky commented on #15
That is for Mac only. If you have a windows license, follow step 1-2 in my guide and use step 7 for windows license.

You doing your own steps is why you cant log in.

[2021-11-17 22:25] Guuttan commented on #15
I tried that as well but it only launched as Wine on Mac. After that I tried to download Marzents update of the launcher as a fix. But I'll try to reinstall the whole thing again :)

[2021-11-17 22:37] seathasky commented on #15
The client defaults to Mac period. If you followed the guide from Step 1-2 and step 7, you should be able to log into a Windows license.

I cant exactly test as I own both licenses. So if something changed, I wouldn't be able to tell.

I can tell you that my game is running the windows license though based on the launcher and in game settings.

Nothing has changed from my guide to how I installed

[2021-11-17 22:57] Guuttan commented on #15
Yeah I'm definitely doing something wrong, hehe. I just for the life of me can't figure out what.

I followed your installation guide to a T this time. The only thing that might differ is the install commands. I chose not to Parse FFXIV data, but enabled plugin injection for the windows license. After that I chose the 2 option because I'm running on a M1 MacBook Pro.
Also I'm running Mac os Monter

[2021-11-17 22:58] marzent commented on #15
No need to reinstall, HideWineExports is not working for you (has nothing directly to do with the launcher)
You have 2 options to fix this:

1. (Temporary) navigate inside your Bottle into the `users/crossover/Local Settings` folder and delete Xivlauncher.
Reinstall the 6.0.9 (not .12) version from my fork afterwards
2. make sure you have the correct version of ntdll.dll inside crossover, if in do

[2021-11-17 23:06] marzent commented on #15
Basically Wine on Mac = found wine exports = Mac authentication
From your screenshot it looks like your registry is fine, I would check the 2 ntdlls next

[2021-11-17 23:19] Guuttan commented on #15
I ran the installation with the plugin injection and windows license only and my ntdll.dll is 2.9mb. So it doesn't appear the be that?

It does look like I am running the 6.0.12.0 launcher though, where can I find the 6.0.9 one? Sorry I'm new to both GitHub and Crossover :)

EDIT: I just noticed that you told me to check the "2 ntdlls" next? I can only find one in my system.

[2021-11-17 23:27] seathasky commented on #15
Just replace the ntdll in system32 with the one included in the zip and restart crossover and you should be good if you set hidewinexports correctly

[2021-11-17 23:37] seathasky commented on #15
I'm going to close this thread.
If you want to use a FF14 windows license instead, make sure you patched for it and follow the guide and not do your own thing.

[2021-11-17 23:37] #15 closed, assigned to seathasky, marzent

[2021-11-17 23:38] Guuttan commented on #15
I replaced the ntdll.dll file from the folder wine-dlls in the zip file with the ntdll.dll in the system32. Restarted crossover and it still does not work :/

Sorry for the hassle! Could it be the launcher? Should I downgrade?

[2021-11-17 23:43] seathasky commented on #15
If you follow the guide from scratch and patch for windows you shouldn't have a problem. As I said before, you didn't follow the guide.

[2021-11-17 23:46] Guuttan commented on #15
I have put a lot of hours and effort into this. I have reinstalled it 6 times by now. Checking the guide very carefully every time. I can promise you I have followed it.

If nothing else can be done I thank you for your help and time anyway! The guide is great. But there's something that just doesn't work for me I guess.

[2021-11-17 23:47] marzent commented on #15
It will work with the launcher, there’s another ntdll inside `$cxLoc/Contents/SharedSupport/CrossOver/lib64/wine` where cxloc is your crossover app, make sure to overwrite that one as well

[2021-11-17 23:48] marzent commented on #15
Also again you really don’t need to waste your time reinstalling every time, it’s a very fixable problem :)

[2021-11-17 23:57] Guuttan commented on #15
Omg it worked! Thank you so much :)

[2021-11-18 16:47] ahjsrhj opened #24 "Can't install XIVLauncher"
![image](https://user-images.githubusercontent.com/8666955/142458520-f5b1a542-8990-4582-babe-ee128c1b9686.png)
The last step could not be completed
My OS info is：
MacOS 12.0.1 with m1
CrossOver 21.0 21.1  all like this

[2021-11-18 17:23] seathasky commented on #24
The problem may be related to your networking or failed dependency installation. This does happen sometimes due to weird issues with Crossover's servers.

**Please verify that all .NET dependencies were installed during crosstie installation.**

I just tested myself and there is nothing wrong with the installer,
I recorded myself installing and it runs perfectly, click the gif to see full video

[

[2021-11-18 22:27] cplr commented on #16
Is there an understanding of the difference between your 1.1.6 version and gcenx's 1.1.6? I wasn't able to test yours, only gcenx's, but it's unfortunate that it causes a crash w/ M1.

[2021-11-18 23:12] seathasky commented on #16
MVK 15+ and on isn't properly ready for M1 processers yet. My version and
gcenx will make no differences in it working. Mine was unpatched while his
is.

On Thu, Nov 18, 2021, 5:27 PM cplr ***@***.***> wrote:

[2021-11-19 02:00] ahjsrhj commented on #24
.NET dependencies Installation is very slow，but all is success, and the last step XIV Launcher install window can't show。
I will change my proxy to try again.
thanks for your help

[2021-11-19 02:00] #24 closed, assigned to seathasky

[2021-11-19 04:06] seathasky commented on #24
Hopefully you can get it running!

[2021-11-20 02:19] FleetAdmiralButter opened #25 "Post your graphics settings!"
Hi all,

I've spent some time tweaking the graphics settings in my game and think I've settled on a pretty good configuration (for my setup at least) - the game looks similar enough to a copy running on my Windows desktop while performing very well.

I've listed all my tweaks for reference. Some settings aren't available on a Mac licence so skip over the ones that don't show up.

The list assumes

[2021-11-21 06:38] Yordler commented on #17
Hi, my question is, cause I botched the installation the first time, how do i remove all the files from my mac so that i can repeat this

[2021-11-21 09:39] RussellAnas commented on #25
This is a great post. Just wanted to share that the Aetheryte around Limsa and Gridania is always much lower FPS than other hub areas (like Eulmore etc.). Might be due to no. of players, but there's something else going on too here. On my 3070, I average around 80 FPS while other hubs easily give me 120-150. So would suggest people not to judge avg. fps by what they see in Limsa or Gridania.

[2021-11-21 11:25] ScarlettHoefler commented on #25
Thanks for the tessellation setting tip! It makes a *huge* difference even on the M1 Max.

On my M1 Max 64GB, I was able to use the Maximum preset at 1920x1200, then set **Tesselation to Normal** and 4K UI Resolution (and Screen Space Ambient Occlusion to Off to fix rendering issues).

With Tesselation on High, it wasn't really keeping up, but turning it back to Normal sent me up to ~80-90fps outs

[2021-11-21 11:37] RussellAnas commented on #25
@ScarlettHoefler can you post your graphics settings? Maybe a screenshot if you don't mind? I have my M1 Max 16" coming this week and want to use some guidance from people who've already set it up on what are the best settings.

I'll hook up my MBP to a 1080p 240 hz monitor, so resolution will be similar to yours. My priority would be staying above 75 FPS (excluding Limsa).

Anyone else as well wh

[2021-11-21 19:54] seathasky commented on #25
Not so much in game settings but a comparison between Default launcher and updated CX21 dxvk/mvk @ max in game settings:

https://www.reddit.com/r/macgaming/comments/qz2yzz/ff14_default_mac_client_vs_cx21_dxvk_192_mvk_116/

[2021-11-22 05:32] quangxdu commented on #25
Hello, M1 Max 14 inch, 32 GB ram here.  windowed full size, roughly 16:9 window.  No discernable difference between full screen and windowed.

moltenVK 1.1.4, DXVK 1.9.2

25-45 in limsa lominsa on "maximum" settings Tesselation medium.

averaging 60 in the shirogane housing district

60-90 in Churning Mists fighting random adds.

[2021-11-22 05:58] seathasky commented on #25
I'd recommend turning tesselation off, as it's currently broken. It will only suck up your fps and you will barely notice the difference visually otherwise.

[2021-11-22 13:03] AlphaTeam7337 commented on #17
@MrLoosid Heya!
If you want to delete the files and redo it again, hit up the Crossover application and right click on the bottle from the left and hit [Delete "(bottle name)".
![Screenshot 2021-11-22 at 12 55 30](https://user-images.githubusercontent.com/76885263/142866142-f44df127-162f-4f13-a05d-67ee5b985e49.png)

After that, open the "Final Fantasy XIV Online.tie" and start from there.
If you s

[2021-11-22 20:37] supasubu opened #26 "Installation Issue"
Hi there!

I am running an M1 Max Macbook Pro, and encountered an error when running through the installation. Currently, there are 3 files "in process", while the file "Microsoft .NET Framework 2.0" would not install, giving me an error message. I chose to "skip" the installation after several "try again" attempts. Will this mod function properly without it?

If not, what are my troubleshooting s

[2021-11-22 22:39] RussellAnas commented on #26
Following

[2021-11-22 22:50] seathasky commented on #26
repeat issue:
https://github.com/seathasky/FF14-MAC_ModSupport/issues/24
https://github.com/seathasky/FF14-MAC_ModSupport/issues/17
check these first

[2021-11-22 22:50] #26 closed, assigned to seathasky

[2021-11-23 16:10] Tway1 opened #27 "ACT Overlays are not parsing correctly despite base ACT working fine"
This is only happening when I'm in a party so the overlays work perfectly when I'm on the overworld or in an unsynced instance alone.
On Bunny-HUD I've tried both MopiMopi and Kagerou and have the same issue.
I've followed the ACT setup using the WinPCap connection and have the same IP address and port in the Stream/Local Overlay tab.
The base ACT parses correctly, both in overworld and 4/8man con

[2021-11-24 02:01] seathasky commented on #27
A bunch of us run kargeru and cactbot etc without issues. If you are experiencing issues, I'd try reinstalling using the guide, this should not be happening.

Otherwise:

Contact ngld: https://github.com/ngld/OverlayPlugin

[2021-11-24 02:01] #27 closed, assigned to seathasky

[2021-11-24 03:53] marzent commented on #27
If [these](https://ngld.github.io/OverlayPlugin/streamers) urls at the bottom also show the same behavior in Chromium and Firefox, then it’s most likely an OverlayPlugin issue (probably best to ask about that in the overlay-plugin section in the act discord)
However if it’s a BunnyHUD only problem feel free to open an issue in its own repo and I’ll try to look into it :)

[2021-11-24 04:11] marzent commented on #25
This totally an unrelated side note but if MoltenVK 1.1.6 is still broken for M1 feel free to open an issue at [MoltenVK](https://github.com/KhronosGroup/MoltenVK) about it and describe your Problem, so it can get some attention.

These newer versions have major performance improvements for all gpus and changes that should make it run even "better" on apple gpus.

I would do it myself but I don’t

[2021-11-24 06:45] crowcold opened #28 "Error when installing"
Hello,
I tried installing the ffxiv Mac cross over, firstly I just wanted to ask some question. I am new to this whole thing so I am not sure what this does. Do I have to buy the Mac version of FFXIV to use this? I tried installing it previously but it said It said "this square enix account cannot play final fantasy".  I then spoke to somewhen on discord and they mentioned "ntdll patch". I have no

[2021-11-24 07:16] memegauste opened #29 "Support AMD Hackintoshes by custom solution / guide"
So, the AMD Hackintoshes lacks somewhere ability for 32-bit code execution, and because of this the 32-bit parts of CrossOver are not working (it just crashes). Despite that, FF XIV native macOS client is running just fine, so it probably uses ONLY 64-bit code.

So, when you want to use `FF14-MAC_ModSupport` it will crash at same beginning of modding the client, because fonts installer in Windows

[2021-11-24 07:56] seathasky commented on #28
responded to you on discord.

[2021-11-24 07:56] #28 closed, assigned to seathasky

[2021-11-24 08:24] seathasky commented on #29
Not sure you were asking me to write you a guide or you wanted to write one. either way, here is how:

---

Find your "FINAL FANTASY XIV ONLINE" folder. By default, Square Enix's installer should put it in Users/USERNAME/Library/Application Support/
![Screen Shot 2021-11-24 at 3 13 16 AM](https://user-images.githubusercontent.com/17598024/143199933-097ea672-032d-419f-b881-b4c18c472ede.png)

(if yo

[2021-11-24 09:01] memegauste commented on #29
I were asking you to write the guide. Anyway, thanks very much! I will respond today how much performance improved on my AMD Hack.

I don't close issue for now without testing if that works.

I want to ask another question, does performance differ from CrossOver releases? I know that FF XIV ShadowBringers is based on CX20.

[2021-11-24 09:03] seathasky commented on #29
Yes, the performance should be different in cx21 due to wine also being updated in Crossover.
You will most likely have a better experience through Crossover but this should help the default client a little bit either way

[2021-11-24 10:09] FleetAdmiralButter commented on #25
Hey @marzent, I've been planning on filing an issue there since I've got the crash logs on me but I don't know the first thing about graphics programming. Would you be able to give me some pointers on how to word up the issue, and if MoltenVK even support this use case?

[2021-11-24 11:07] seathasky commented on #25
Not to reply for @marzent, but i'm available to help.
It's fairly easy, if you follow this guide:

https://www.codeweavers.com/support/wiki/mac/faq/maccmdprompt

After you have shell open,
type "wine and drag the ffxivboot64.exe after

Example: wine "C:\Program Files (x86)\SquareEnix\FINAL FANTASY XIV - A Realm Reborn\boot\ffxivboot64.exe"

this will open default launcher and also output everythin

[2021-11-24 13:02] FleetAdmiralButter commented on #25
Success! Just managed to get a patched build of MoltenVK 1.1.6 running in CrossOver on M1 Pro:
![Screen Shot 2021-11-24 at 11 57 09 pm](https://user-images.githubusercontent.com/37036084/143242721-586a2861-c4d3-4d54-bbc9-10b2780c59ae.png)

In addition to MVK 1.1.6, this bottle has DXVK 1.9.2 installed, as well as the DXVK async patch.

I managed the narrow down the "Black Screen" error to the foll

[2021-11-24 14:51] marzent commented on #25
Awesome you got it to work!
Let us know how performance is and I'll update the install script to add your version as an option if there are no issues for you

[2021-11-24 16:55] Tway1 commented on #27
For what it's worth I installed Bunny-HUD by building your files using Xcode... I couldn't figure out another way of getting it to run. Not sure if that is the best way?

[2021-11-24 17:15] marzent commented on #27
There should a ready-to-use app in the release section, but building yourself also works

[2021-11-24 19:26] quangxdu commented on #25
The MoltenVK 1.1.6 binary provided pulls me up to 75 FPS average from the Shirogane FPS above (up from average 60)

[2021-11-24 21:34] seathasky commented on #25
Awesome work @FleetAdmiralButter! This is great, me and marzent don't have m1's yet, so stuff like this is very useful.

[2021-11-24 21:39] #29 closed, assigned to seathasky

[2021-11-24 21:47] seathasky commented on #25
I added your compile to public testing and updated news. Thank you for finding the issue

[2021-11-25 06:09] FleetAdmiralButter commented on #25
Hey @quangxdu,

Thanks for helping me test this out. Was the 75FPS vs 60FPS comparing fresh starts of the game? I've noticed that there's a bit of performance loss after an hour or so after playing that a restart clears up (though this is completely anecdotal and might just stem from more players coming on).

Might be worth moving discussion of MVK 1.1.6 to #16 to keep this thread on point.

[2021-11-25 09:38] seenasa commented on #25
@FleetAdmiralButter Hi there, thanks for all the work getting this pushed through! I replaced the .moltenvk.dylib with the one provided in your link and still got the black screen. Do you have any work around this in mind?

[2021-11-25 09:53] marzent commented on #25
@seenasa best to discuss MVK issues inside inside the MVK issue ;)

[2021-11-25 09:57] seenasa commented on #25
@marzent Oops, my bad! Sorry about that I'll delete my irrelevant comments here

[2021-11-25 11:56] FleetAdmiralButter commented on #16
Your current system/OS: Apple M1 Pro / macOS 12.1 Public Beta

Crossover version used: CX 21.1 Beta

DXVK used: 1.9.2 + Async

What version of MoltenVK: 1.1.6 w/ M1 patch (https://github.com/FleetAdmiralButter/MoltenVK/releases/tag/v1.1.6)

Resolution: 2560x1440@144Hz

Settings: As described in https://github.com/seathasky/FF14-MAC_ModSupport/issues/25#issue-1059037496.

Issues experienced in game

[2021-11-25 12:02] FleetAdmiralButter commented on #25
If anyone's interested, setting "Character and Object Quantity" To Normal/Low/Minimum significantly improves framerate in hubs like Limsa. Of course, this comes at the cost of heavy pop-in as you're walking around (and minions in extremely crowded areas are no longer rendered!)

![Screen Shot 2021-11-25 at 10 57 59 pm](https://user-images.githubusercontent.com/37036084/143438233-998c0da6-2b92-4e15

[2021-11-25 14:43] DiruSec commented on #16
Your current system/OS: Macbook M1 Air (7-core GPU), macOS 11.6(Big Sur)

Crossover version used: CX 21

DXVK used: 1.9.2-mac-async

What version of MoltenVK: 1.1.6-m1-patched

Issues experienced in game: None

Positives if any: No significant changes between 1.1.4 and 1.1.6 with M1 patched. Just tested at my garden though.

Discuss: No stutter after replaced DXVK with mac-async release. After upg

[2021-11-25 16:33] ysimard94 opened #30 "Problem installing"
Hi! When I try to install everything, when it comes to the .NET Framework 4.0, 4.6.2, 4.7.2 and 4.8, it says "Setup may not run properly, because the Windows Modules Installer Service is not available on this computer." and then stops forever at 5 bars in the installation process of each and single one. My process is install crossover, then opening  the FFXIV installation file like in the first st

[2021-11-25 16:37] seathasky commented on #30
https://github.com/seathasky/FF14-MAC_ModSupport/issues/17

[2021-11-25 16:37] #30 closed, assigned to seathasky

[2021-11-25 17:11] seathasky commented on #17
- Reopening and pinning for transparency

[2021-11-26 02:18] Ceolona commented on #16
<img width="356" alt="Screen Shot 2021-11-25 at 8 41 13 PM" src="https://user-images.githubusercontent.com/94132759/143514275-8176b221-6ce0-425e-8cee-1a45e3fbce45.png">

MBA M1 (8 GPU), 12.0.1, CX 21.0, MVK 1.1.6 (I think)

No issues, other than those created by myself.

FPS appears to be capped at 120 FPS. Default settings (Windowed, 720p-ish) show 120 FPS at both minimum and maximum quality at m

[2021-11-27 10:05] RussellAnas opened #31 "Character/Client Settings Migration"
Hi, is it possible to download my character/client settings from the online FF14 backup/restore tool to this crossover version with the different launcher? Or will it corrupt the settings?

Otherwise, I'll have to setup everything from scratch like macros, hotbars and that would be a pain.

[2021-11-27 10:12] seathasky commented on #31
Hi there Russell.
Your character and client settings are stored on Square Enix's servers. There is no difference between the client's being used in CX vs Mac, Windows 10 and even PS4/PS5. Your client settings are cross platform enabled and you will not have any issues at all.

Use the in-game Character/Client backup feature and you'll be fine!

![Screen Shot 2021-11-27 at 5 09 34 AM](https://user-

[2021-11-27 10:20] RussellAnas commented on #31
This definitely helps! Thanks @seathasky!

[2021-11-27 10:20] #31 closed, assigned to seathasky

[2021-11-27 11:50] ghost opened #32 "Korean FFXIV client"
The Korean FFXIV has a separate client and setup.exe.  It is mostly the same as the original, but is locked to the local servers.  How do I get this repo to work with that client, particularly the custom XIVLauncher.exe?  Thanks.

[2021-11-27 12:55] seathasky commented on #32
Unfortunately, the Korean client is completely out of reach for most users outside of Korea due to the restrictions used in that country. Our team only have access to North America, Europe and Australian clients.

The Korean copy of the game also has a separate membership due to it being published by Actoz Soft. It would require us to have a Korean Social security and phone # which is basically im

[2021-11-27 13:30] ghost commented on #32
Thank you for the fast response.  I have the Korean Resident ID, phone number, have a membership with Actoz, and am aware it is behind in patches.  You do not need a VPN to play on Japan's server.

But, I would like to play locally for the reasons I mentioned in my message.  I have posted the launcher issue here: https://github.com/goatcorp/FFXIVQuickLauncher/issues/592

Thanks again

[2021-11-27 13:34] seathasky commented on #32
I understand, making Korean friends is important and in your email you mentioned language exchange which makes sense.

If XIVLauncher implements support for your Korean client, I will do my best to assist you in getting it running in Crossover etc. Outside of that, my hands are tied.

[2021-11-27 13:34] #32 closed, assigned to seathasky

[2021-11-27 13:51] RussellAnas opened #33 "Stuttering on 16" M1 Max"
Hi, so I am using DXVK 1.9.2 and MoltenVK 1.1.6. My game is still occasionally stuttering.

FPS is high (around 70-80), but suddenly it stutters (including the sound), so it seems like the whole game gets stuck. I'm not using any special plugins yet, only show the fps on the screen.

I did download my character/client settings. But then I did adjust the graphics preset to 'High Laptop' and also tr

[2021-11-27 15:16] seathasky commented on #33
Hi Russell.
   Which compile of MVK did you use?
From our script or from public testing (Gcenx or FleetAdmiralButter's compile)?

When you say stuttering, do you mean screen tearing, or fps drops? Did you allow shader cache to compile? It usually takes a bit on first run.

Have you tried using MvK 1.1.4? It's what we recommend for M1 users.

[2021-11-27 15:20] RussellAnas commented on #33
I'm actually using FleetAdmiral's compile for 1.1.6.

I mean clear stuttering, not tearing or fps drop. The whole game pauses for a second or so now and then. When it runs, it runs good. But this keeps happening every 4-5 minutes.

Should I go back to 1.1.4? Any idea how I can get the 1.1.4 version?

[2021-11-27 15:27] seathasky commented on #33
Either use our script again (skip crosstie when it prompts) or the 1.1.4 tag in public testing on Gcenx's compiles. Public testing is just that, for testing.

Our script tells you this:
![Screen Shot 2021-11-27 at 10 26 46 AM](https://user-images.githubusercontent.com/17598024/143687290-4587c0d2-04b9-432b-9e79-fff55d06c76d.png)

[2021-11-27 15:36] RussellAnas commented on #33
These are the options I see, which one should I go for? Don't see an option for 1.1.4

![Screen Shot 2021-11-27 at 8 36 07 PM](https://user-images.githubusercontent.com/77004545/143687612-ccf3b63a-a993-43b5-9de6-cbafb759c42e.png)

[2021-11-27 15:38] seathasky commented on #33
Gimme a sec, ill update the script to include 1.1.4

[2021-11-27 15:55] seathasky commented on #33
Okay re-download/clone, the scipt is updated and should include 1.1.4. Let me know if it doesnt

[2021-11-27 16:04] RussellAnas commented on #33
YOU WERE RIGHT! It's working perfect now with 1.1.4! OMG I thought I upgraded to the M1 Max GPU for nothing!

[2021-11-27 16:06] seathasky commented on #33
Glad it's working!

[2021-11-27 16:06] #33 closed, assigned to seathasky

[2021-11-27 16:07] RussellAnas opened #34 "DXVK Backend gets unchecked"
Quick question (sorry for making so many of these). Once I upgrade DXVK using your guide, the checkbox automatically gets unchecked on my bottle (even though I clearly remember checking it before). Is this expected once we replace the DXVK file to 1.9.2?

[2021-11-27 16:10] seathasky commented on #34
This is normal behavior. If you re-check it, it will revert to default dxvk. Leave it unchecked after you overwrite.

I updated the guide to reflect this for new users going forward

[2021-11-27 16:10] #34 closed, assigned to seathasky

[2021-11-27 19:45] RussellAnas commented on #16
Moltenvk : 1.1.6
Machine : Macbook Pro 16" M1 Max
Resolution : 1920x1080
OS : Monterey
CX : 21
DXVK : 1.9.2

My experience was pretty bad with 1.1.6. Constant stutters every 5 minutes. By stuttering, I literally mean the game completely hanged for a second (including a cut in the background music/sound effects etc.) and then resumed again. The FPS didn't really show a drop. It almost seemed like t

[2021-11-27 19:54] kailred commented on #16
Moltenvk : 1.1.6 patched m1
Machine : Macbook Air M1 2020
Resolution : 1920x1080
OS : Monterey
CX : 21
DXVK : 1.9.2

In response to the above poster, I only experience a stutter when clicking outside of the app (it runs in borderless windowed on my external monitor) and back into the game. the stutter, however, is not consistent on it's timing of when. it's almost like once I click back into the g

[2021-11-28 04:10] ghost commented on #17
I had the same problem today.  What is strange is that the installs worked flawlessly when I made some bottles yesterday, so it makes me think this is related to some sort of cache.

[2021-11-28 08:13] kayzerkan commented on #33
Just to be safe: The 1.1.4 version was added after I cloned the repository and I am encountering the same problem on my m1 macbook pro.

When I execute the install.command and pick the 1.1.4 option, I don't have to reinstall the bottle again? Because I don't want to wait for another 60 gb download :D

[2021-11-28 08:18] ghost opened #35 "A System Error Occurred: -2147221164"
I am trying to install FFXIV with the native (NA) launcher and receive this error:

![Screen Shot 2021-11-28 at 5 12 47 PM](https://user-images.githubusercontent.com/84574720/143734865-af9c2824-3764-48df-bd4d-ab90dc0fd2c2.png)

Log:
[code]

MacOS 12.1, MacBook Air M1.  I tried to launch iexplore.exe and it does not render anything even though the address bar upgrades the request from http to https

[2021-11-28 12:09] RoyalRookie opened #36 "FFXIV not detecting Windows licence after changing HidewineExports to 1"
It's still detecting the MacOS version and I don't know how to fix this.

[2021-11-28 14:04] ghost commented on #36
I don't know if it's case-sensitive or not; have you tried "HideWineExports" or "HidewineExports"?

[2021-11-28 15:22] RussellAnas commented on #16
Anyone with an M1 Max out there who's using 1.1.6 without stutters and saw performance gains? Would like to learn how I can get it to work at my end. One possibility I was considering was that I didn't try 1.1.6 with Dalamud plugins turned off (since they also cause stutters). Not sure if it would benefit or not here though

[2021-11-28 15:43] RussellAnas opened #37 "Alternatives to BunnyHud"
Hi - considering there's some bug that is causing issues with BunnyHud too, is there any alternative to showing ACT's Kagerou layout somehow? I see ACT is successfully getting all the data, but doesn't show up on BunnyHud.

[2021-11-28 21:31] twentyonekoalas opened #38 "Receiving error while doing the initial patch."
[backtrace.txt](https://github.com/seathasky/FF14-MAC_ModSupport/files/7614411/backtrace.txt)

Have been following the directions to install via crossover 21 and keep receiving an error while patching. Attached is the error log.

[2021-11-28 21:57] #38 closed, assigned to nobody

[2021-11-28 23:38] seathasky commented on #35
We don't really offer support for the default launcher as it is extremely buggy in CX21.

[2021-11-28 23:38] #35 closed, assigned to seathasky

[2021-11-28 23:51] seathasky commented on #33
The 1.1.4 version has been in the script pretty much since we made it, but we removed just 2 days ago to have M1 users move to 1.1.6. I went ahead and re-added it, as 1.1.6 is still technically in testing.

Just re-clone/download the repo and rerun the script and skip the crosstie

[2021-11-28 23:53] seathasky commented on #37
You can use act's Websocket feature to use Kagerou in Chrome web browser, just add the address from the websocket section in ACT

[2021-11-28 23:53] #37 closed, assigned to seathasky

[2021-11-28 23:55] seathasky commented on #36
If you patched for windows using our script you should not have an issue. Repatch with the script and try again.

[2021-11-28 23:55] #36 closed, assigned to seathasky

[2021-11-29 04:57] kayzerkan opened #39 "Stuttering on 13" Macbook M1 Pro"
hello there!

first off, thanks for all the hard work in putting this together! seems like you guys spend more time and thought in this, than square enix themselves for the mac client :D

Now onto my issue. I basically have the problems as described by russel here #33.

The game runs stable at around 70 fps, but I get sporadic stutters. Game dips to 30 fps for a second. Even the audio gets interup

[2021-11-29 05:10] seathasky commented on #39
It sounds like shader cache is loading. This is normal and overtime, should usually work itself out completely.

What version of moltenvk are you using?

[2021-11-29 05:12] kayzerkan commented on #39
<img width="573" alt="Bildschirmfoto 2021-11-29 um 06 12 13" src="https://user-images.githubusercontent.com/29822268/143812460-aae5db4f-6350-424b-b03c-586fe202d75e.png">

The one specified in option 3

[2021-11-29 09:51] RussellAnas commented on #37
I've never done this before so apologies in advance, what should I do next to see Kagerou in chrome?
![Screen Shot 2021-11-29 at 2 50 16 PM](https://user-images.githubusercontent.com/77004545/143845673-368bdc67-b130-4b5f-8945-4f26acf37936.png)

[2021-11-29 12:27] seathasky commented on #37
Generate a url at the bottom, profit

[2021-11-29 12:36] RussellAnas commented on #37
Okay I get what was the issue here. It showed me nothing in overlay. I had to go and add kagerou using the usual process first, and then I could see various options in overlay here under url generator!

[2021-11-29 14:50] seathasky commented on #39
Hey Kay, you could always try installing DXVK and Moltenvk into the native launcher. If this is something you are interested in, let me know, I can guide you in the process.

[2021-11-29 16:24] kayzerkan commented on #39
Do you think I can't fix the stuttering with your crossover tue and the custom launcher?

Would using DXVK and MoltenVk boost peformance with the native launcher? I have to say I like the fps boost, I got from this guide. So I'd like to keep it :D

[2021-11-29 16:34] seathasky commented on #39
Our project here has always been about performance first. The reason we recommend using Crossover 21 is because it includes the latest wine updates. The native launcher does not.

I cant speak for everyone, but I personally have tested DXVK/MVK updates on the Native Launcher and have seen fps improvement, i'm also on supported hardware though, so there is a difference.

Bottomline, you wont get th

[2021-11-29 16:52] Lalumieree opened #40 "m1 max can not success install the launcher with cx21"
new 16-inch mbp using crossover21.1 can not install .net framework, which leads to the launcher fail to lunch( which said need the 4.72 .net framework, the offline package doesn't work)

[2021-11-29 16:55] seathasky commented on #40
Please read "Step 1" again carefully before posting existing issues
![Screen Shot 2021-11-29 at 11 54 16 AM](https://user-images.githubusercontent.com/17598024/143909931-62fdc78c-c0b3-451a-a90a-c0869f173507.png)

If you still can not install dependencies, contact Codeweavers. We have no control over their software.

[2021-11-29 16:55] #40 closed, assigned to seathasky

[2021-11-29 17:02] Lalumieree commented on #40
yep, I checked the issue17 and follow the steps, still met failure. Thanks anyway.

[2021-11-29 17:05] seathasky commented on #40
I'm sorry it is not working for you. That can be frustrating I'm sure!

I'd recommend first restarting completely over, make a new bottle, start from scratch.

If you still can not get it working, i'd contact Codeweavers.

Best of luck

[2021-11-29 17:15] seathasky commented on #17
Quite possible, unfortunately there doesn't seem to be a TRUE fix for this outside of starting your bottle over from scratch or trying to install manually.

I've personally experienced this same issue through testing and can't figure out what is really happening, whether it's Codeweaver's servers acting up or a caching issue.

My recommendation to everyone experiencing this issue is to completely

[2021-11-29 20:21] kayzerkan commented on #39
Yea the lack of M1 support bums me up aswell. Once apple removes Rosetta2, M1 players are screwed. Even Blizzard has native M1 support for WoW. All the peformance issues would be solved.
Thanks a lot for your help and time! I guess for now I'll just stick to the official Launcher. I don't want to risk any downloads etc before Endwalker releases
Thanks again and see you on the moon ;)

[2021-11-29 20:21] #39 closed, assigned to seathasky

[2021-11-29 20:23] seathasky commented on #39
XIVLauncher made a statement about EW just yesterday.

![Screen Shot 2021-11-29 at 3 22 34 PM](https://user-images.githubusercontent.com/17598024/143937500-ccaab296-9455-43ca-96a3-2e55af3b9fef.png)

It's always wise to keep the official launcher around anyways, just in-case.

[2021-11-30 01:32] ghost commented on #35
This is fixed in the latest 21.1.0 update that CX pushed out!

[2021-11-30 01:46] ghost commented on #17
Maybe it has something to do with Wine Mono that was introduced in CX21?  It was also updated in 21.1.0.

[2021-11-30 01:50] seathasky commented on #35
Good to know!

[2021-11-30 12:13] seathasky opened #41 "CrossOver Mac 21.1.0 Discussion"
Discuss any performance related things with the latest CX update here.

[2021-11-30 12:23] RussellAnas commented on #41
Macbook: M1 Max 16" 32 GB
DXVK: 1.9.2
MoltenVK: 1.1.4

I was on 21.0 before, and experienced a ton of lagginess (despite high fps, looked like game was less than 30fps instead) and stuttering (game freezes).

Jumped up to 21.1 and all lagginess and stuttering is gone. It actually looks like a game that performs around 80-100 fps. ProMotion is working now too; game looks super smooth.

@seathasky d

[2021-11-30 12:54] seathasky commented on #41
That's good to hear! I haven't tested yet myself but plan on doing that this morning.

You are welcome to test 1.1.6 and see if that helps at all, just use Fleet's compile in public testing, or re-run our custom script and bypass the crosstie.

[2021-11-30 13:03] seathasky commented on #41
Hackintosh: i7 10700k, AMD 5700 XT, 32gb DDR4 @ 3200mhz
DXVK: 1.9.2
MoltenVK: 1.1.6
In-Game Settings: MAX Settings (turned off tessellation, it drops fps)

Noticing minor increases on CX21.1

Getting around 180-200 fps in my usual testing spot with plugins loaded and Gshade enabled.

![Screen Shot 2021-11-30 at 8 00 58 AM](https://user-images.githubusercontent.com/17598024/144052225-c236ff6e-1356-

[2021-11-30 14:56] RussellAnas commented on #16
After updating to 21.1, patched 1.1.6 is now working as intended on M1 Max.

Noticed a small increase in performance, around 5-10 fps.

[2021-11-30 15:08] Gcenx commented on #17
The installer hanging is not related to the inclusion of wine-mono there's a hack inplace to avoid this issue, the point releases of .Net are just a PITA instead of using .Net 4.7.2 it would be better to instead use .Net 4.8.

The reason wine-mono was included in CX21 was to hopefully avoid native .Net (matching upstream wine) but that version was rather old, CX21.1 bumped wine-mono due to Ticket

[2021-11-30 17:30] RoyalRookie opened #42 "FFXIV not detecting expansions"
FFXIVLauncher does not detect anything missing and I have the expansions installed, but when I boot up FFXIV it doesn't have stormblood/shadowbringers

[2021-11-30 17:30] RoyalRookie commented on #42
It worked at first and I don't know what changed

[2021-11-30 18:10] seathasky commented on #42
Windows or Mac license?

[2021-11-30 20:12] RoyalRookie commented on #42
windows

[2021-11-30 20:13] RoyalRookie commented on #42
already changed the value to 1

[2021-11-30 21:33] kailred commented on #41
MacBook Air M1 2020
dvxk 1.9.2
moltenvk 1.1.6 patched.

updated to 21.1, changed no other settings and very minute stuttering has been introduced into normal gameplay. no performance increase.  will try others versions of dvxk and moltenvk to find best results for the mbair.

40-50fps across the board.

[2021-12-01 07:19] seathasky commented on #42
Your game not showing current expansions has nothing to do with our installation or xivlauncher for that matter. That has never been a thing.

Also when you say your game doesnt have SB/ShB, do you mean you cant go to those zones?

Are you sure you have an active account? Or are you on a trial?

[2021-12-01 12:40] RoyalRookie commented on #42
I have an active windows account. I downloaded all the expansions and it worked at first, but now I logged out at a Stormblood area and the game says I have to install Stormblood to log in. I did try to run the endwalker benchmark and the original launcher in the same bottle so maybe that's why it doesn't work anymore? I guess I can make a new bottle with a new installation..

[2021-12-01 13:48] seathasky commented on #42
As I stated before, account issues have nothing to do with XIVLauncher.

Do you happen to have any Mac licenses at all on your account?

I can see the scenario where you didn't patch for windows correctly and wine is only seeing your Mac license.

When you run Xivlauncher, does the title say "wine on mac" or "wine on linux" at the top?

[2021-12-01 14:31] RoyalRookie commented on #42
XIVLauncher says wine on mac, but I did patch for windows correctly because it worked before.

[2021-12-01 14:31] RoyalRookie commented on #42
I don't have mac licences

[2021-12-01 15:18] seathasky commented on #42
Redo your bottle. For accuracy, do step 1, step 2 and step 7. Make sure when you patch, you say "Y" for windows license. You should not have any issues. Do not install XIVLauncher with the xivlauncher.exe included in the patcher zip, this is for mac users only.

Best of luck

[2021-12-01 15:18] #42 closed, assigned to seathasky

[2021-12-02 09:26] FleetAdmiralButter commented on #16
Hi all,

Thanks for trying out my compile of MoltenVK 1.1.6!

I just wanted to drop a note here - it has been superseded by new releases on https://github.com/Gcenx/MoltenVK/releases/tag/v1.1.6, which allow for hardware sync on Apple GPUs and should (theoretically) perform slightly better.

There are two ways of installing the new version:

Method 1:
1. Install the regular (stock) MoltenVK package

[2021-12-02 13:09] seathasky commented on #16
@FleetAdmiralButter I sent you an email did you ever get it?

[2021-12-03 20:58] cplr commented on #41
I'm having an interesting problem that I believe happened only after updating to CrossOver 21.1 (hence my posting of it here). In the XIVLauncherWine program, when I try to enter text into the password field, it crashes and throws an error window (the error window only has a title bar and no actual window underneath). I can log in using the default launcher, but unfortunately the XIVLauncher is no

[2021-12-03 22:00] seathasky commented on #41
If you are using default launcher it will. Check out troubleshooting section in the guide. All the way at bottom

[2021-12-03 22:11] seathasky commented on #41
Haven't seen that one yet, you could try reinstalling XIVlauncher. Or redo your bottle, just drag your SE folder over to the new bottle afterwards.

[2021-12-04 14:49] ghost opened #43 "Immerse Gamepack compatibility discussion"
Some tips from me:

- In case your `Microsoft Edge WebView2 Runtime` installation fails, try the newest version from the Microsoft's [website](https://developer.microsoft.com/en-us/microsoft-edge/webview2/).
- To run the Immerse application you'll need to copy `tbs.dll` from the newest package of linux [Wine](https://archlinux.org/packages/multilib/x86_64/wine-staging/) to your `Windows/system32`

[2021-12-04 21:41] zoeyronain commented on #41
Same issue here with 21.1 on my M1 Pro 14" mbp.

Also noticed I can't run it on maximum at 60-70fps anymore like with the macOS version, I'm hovering around 50 on high.  I did everything as stated including BUYING crossover thinking it may have been a bug with the trial.

[2021-12-04 22:05] marzent commented on #41
If the native client is running faster than 21.1 then there is definitely sth wrong…
The only instance of that happening is with an old nvidia gpu and can be fixed by downgrading to MVK 1.1.0.

Just to clarify the change happened going from 21.0 to 21.1 and .0 was faster than native and .1 is slower?

[2021-12-04 22:23] zoeyronain commented on #41
I installed 21.1 out of the box, I just got my macbook.

I followed [#25 (comment)](https://github.com/seathasky/FF14-MAC_ModSupport/issues/25#issue-1059037496) and at least at the menu it's 25-30fps higher than it was (73fps vs 48-53ish). (currently stuck there with a 2002 error)

Also just upgraded moltenvk and DXVK, we'll see how it goes.

[2021-12-04 23:48] FleetAdmiralButter commented on #41
Hey @ZoeyCluff,

Depending on which build of MoltenVK you installed (1.1.4, Gcenx's 1.1.6, or my 1.1.6), some environment variables can be set to improve performance on M1 GPUs.

Let us know how it goes for you - you can either reply on this thread or ask for help on our Discord.

[2021-12-04 23:52] zoeyronain commented on #41
Yeah, I just installed your 1.1.6 MoltenVK build. I keep getting dropped and winding up back in the the high 3000s queue over and over.

[2021-12-05 01:08] nrylov commented on #41
Mac mini M1 8 GB
DXVK: 1.9.2
MoltenVK: 1.1.6

I just came across this yesterday and decided to try it out when I'm not using my windows laptop. I got the trial version of crossover 21 and followed all steps of the guide and the performance isn't quite what I was hoping it would be. When I make the game windowed with 1366x768 resolution, I get a pretty consistent ~60-65 fps. However, my monitor is

[2021-12-05 02:02] FleetAdmiralButter commented on #41
Hi @nrylov1,

In my testing, you should use DXVK 1.9.2 w/ async + Method 1 from here - https://github.com/seathasky/FF14-MAC_ModSupport/issues/16#issuecomment-984445292 for best performance. If you have trouble, you can try using version 1.1.4 of MoltenVK as it is more stable.

However, it is important to note that the M1 is quite a step down in terms of performance from the M1 Pro/Max, which most

[2021-12-05 04:47] nrylov commented on #41
@FleetAdmiralButter
That makes sense. It does seem that the CPU utilization is not the bottleneck as the utilization is not that high though the GPU utilization is much higher, but I'm not too familiar with how x86 emulation works on the M1.

I'll give the method a try. If it doesn't end up significantly increasing fps it'll be a bit disappointing since wow runs perfectly at 100 fps for me, but it

[2021-12-05 05:59] FleetAdmiralButter commented on #41
@nrylov1, I don't think World of Warcraft is the best comparison here - for one, its a native app so you're not losing performance from DirectX -> Metal translation. The WoW engine is also a lot older (you can practically count the polygons on character models) so its easier to run too.

Good luck though! I hope this improves things for you.

[2021-12-05 09:08] nrylov commented on #41
@FleetAdmiralButter unfortunately not much changed using the different settings for CX. I tested the official mac client and the performance is much better, can play fullscreen with ~50 fps in cities and I assume that would be higher in calmer areas. What would Rosetta be doing differently than CX?

[2021-12-05 11:38] FleetAdmiralButter commented on #41
@nrylov1, both the official Mac client and Crossover were developed by Codeweavers and are very similar. However, the SE is using a very old version of Crossover and ships outdated versions of Wine, DXVK and MVK.

Since FFXIV is an x86 Windows app, both the Mac client and Crossover run under Rosetta. Wine itself depends on Rosetta to help translate x86 Windows instructions to ARM.

It is very weir

[2021-12-05 12:29] seathasky commented on #41
@nrylov1 Just like @FleetAdmiralButter said, the official client is behind by miles!

![Screen_Shot_2021-12-03_at_12 14 52_PM](https://user-images.githubusercontent.com/17598024/144746509-99ab63de-c73f-4d7b-af69-0d26a893288c.png)

This is the official client through the DXVK_HUD environment variable. You can see the official client is on 1.0.1 version of DXVK, which was first released around March

[2021-12-05 23:34] reckenrode opened #44 "Alternate CrossOver movie fix (working movies)"
I’ve been running FF XIV under CrossOver 21 for the performance improvements, but I’ve been wondering why the movies don’t work under CrossOver (and vanilla WINE) when they _do_ work on the official Mac client. It turns out the Mac client includes Bink-encoded versions of the movies that aren’t included with the Windows client. If you copy them into movies folder of the Windows client, they work.

[2021-12-06 00:26] seathasky commented on #44
Oh wonderful! This is valuable information.

 I have not yet looked at your script but does this require the full installation of the game to run? If so, would it be possible to just exclude all other files? Or did I incorrectly read what you meant.

Either way, this is something we could implement in the future, as an option of course.

[2021-12-06 02:43] reckenrode commented on #44
The files are included in the zip as part of the app bundle, so a full installation isn’t necessary (which would just symlink to the files in the app bundle anyway). My script just grabs the zip, extracts the four movie files from it, and copies them into place.

[2021-12-06 02:47] seathasky commented on #44
That's a neat trick. So no need for the cutscene fix. I will have to test this tomorrow as it's getting late, but this would be a great addition to our current script. You should join us in our discord so we can discuss it more.

[2021-12-06 13:29] marzent commented on #44
So I did some testing and while it does alleviate the arr cutscene issues it also causes Dalamud staging to fail injection atm, once Dalamud is able to handle the different memory offsets and you are fine with it we can add it to the guide though!

[2021-12-06 16:24] reckenrode commented on #44
Adding it to the guide would be totally fine. That’s why I made sure to include the MIT license block at the top of the script.

[2021-12-06 16:26] marzent commented on #44
Actually I've had kinda random behaviour concerning Dalamud, I thought it was the blink video at first but now I'm not so sure anymore, will have to do some more testing on this

[2021-12-06 16:30] reckenrode commented on #44
Sure, I hopped on the Discord.

[2021-12-07 21:33] seathasky commented on #43
I dont own it, and either do my colleagues yet. It may be hard to maintain this if one of us do not purchase.

I work with audio for a living, so anything to enhance the game with audio is appealing to me. I will look at some reviews of this and decide if we will support this or not.

Either way, thank you for submission. I'll discuss this with the team.

[2021-12-08 03:10] Rydsmith opened #45 "Unable to get ACT working"
Since ACT updated I haven't been able to get it to work. The "Use WinPCAP-compatible library" option is selected but I continue to get "Failure: PCAP is selected but no data received."

I have Wireshark installed and running and the network is obviously coming through on it but ACT continues to give errors.

[2021-12-08 03:28] seathasky commented on #45
Hey Ryd. Just tested myself and it ACT is working.
![Screen Shot 2021-12-07 at 10 25 26 PM](https://user-images.githubusercontent.com/17598024/145143210-c3acbe9a-bcd3-4557-9322-38c0fd285eb1.png)

Is this your first time installing it? Or were you using it Shadowlands with our install guide?

[2021-12-08 03:28] Rydsmith commented on #45
I used it with Shadowlands without issue before using your guide.

[2021-12-08 03:34] seathasky commented on #45
It's hard to diagnose your issue as nothing has really changed from Shadowbringers to Endwalker in terms of ACT. Hence why it should be working flawlessly as long as you didnt do anything different besides update the software.

The ACT Plugin still functions the same regardless of it being visually different:
![Screen Shot 2021-12-07 at 10 33 12 PM](https://user-images.githubusercontent.com/175980

[2021-12-08 03:36] #43 closed, assigned to nobody

[2021-12-08 03:36] Rydsmith commented on #45
Alrighty, thank you. I'll give this a shot tomorrow (just because of queues right now; don't want to leave when I managed to get in heh).

[2021-12-08 03:37] seathasky commented on #45
I totally understand your frustration, I actually just crashed 30 minutes ago and got stuck in a 4000 queue.

I'd advice you to join our Discord, you will get faster support there in the future.

[2021-12-08 04:52] seathasky commented on #45
After more extensive testing, ACT is 100% working with all the latest updates and BunnyHUD in Endwalker.

![Screen Shot 2021-12-07 at 11 47 19 PM](https://user-images.githubusercontent.com/17598024/145149973-d350c8e3-dee5-4439-a99c-05f43403ebc2.png)

Please make sure you have configured ACT accordingly.
Double check to see if FFXIV Process ID is available, and manually set Local IP to 127.0.01
You

[2021-12-08 14:59] mixxorz commented on #41
Hiya.

I'm on an iMac 2020 with a Radeon Pro 5300.
DXVK 1.9.2
MVK 1.1.6

I had an issue where the FPS counter would display a solid 60+ FPS, but the game felt very jittery. After some tweaking, I found out that if I set my Frame Rate to 30FPS, the game looks _much_ smoother. The FPS counter still shows 60+ FPS.

On "None" or "60 fps" The DXVK FPS counter reads 60+ but the screen looks very jittery

[2021-12-08 15:00] seathasky commented on #41
What version of MoltenVK are you using?

[2021-12-08 15:58] mixxorz commented on #41
I've updated my comment but I'm running:

DXVK 1.9.2
MVK 1.1.6

[2021-12-08 16:01] seathasky commented on #41
Try 1.1.4 or lower versions.

[2021-12-08 22:57] quangxdu commented on #41
Has anyone noticed that subsequent launches of ffxiv after sleeping cause significant drops if FPS.  I'm seeing my average 100 fps drop to 30 on the same settings until a reboot. m1 max 14 inch 32 GB ram.

[2021-12-09 00:54] mixxorz commented on #41
Now trying MVK 1.1.4 and am seeing the same issue.

If it makes any difference I'm on Borderless Windowed mode.

It's not a big problem for me because as I said if I set it to 30 FPS it's super smooth. Like 60fps smooth. Just wanted to report that this is happening.

[2021-12-09 16:40] #45 closed, assigned to nobody

[2021-12-10 09:23] memegauste opened #46 "Add information that Endwalker expansion also needs patching if you want to get performance benefits"
Hello,
So I asked CodeWeavers if they updated FF XIV macOS port internals and I got this answer:

[code]

So I think it would be nice to mention about this in README of this project.

[2021-12-10 20:46] seathasky commented on #46
I mean it goes without saying, the entire drive behind this project was the lack of updates to Squares Enix's (Bottle/Native Launcher)

[2021-12-10 20:46] #46 closed, assigned to nobody

[2021-12-13 03:53] realAbitbol commented on #41
I have the very same issue with Radeon pro 580 in a 2017 iMac.
Try the 1.1.0 MoltenVK, it’s perfect for me and I think it will be the same for you

[2021-12-14 01:50] RoastTuna opened #47 "Stuck on loading screen"
I am on M1 macbook pro 14.
The game launches but gets stuck after i select the datacenter.
stuck in the blank loading screen indefinitely
<img width="1392" alt="Untitled" src="https://user-images.githubusercontent.com/96094523/145918085-dd885c4a-bfc7-4733-88f4-4233fdc64389.png">

[2021-12-14 03:21] seathasky commented on #47
Go to troubleshooting

[2021-12-14 03:22] #47 closed, assigned to nobody

[2021-12-16 09:09] lilyball commented on #41
@FleetAdmiralButter

I'm using your 1.1.6 on a 16" M1 Max. Are there environment variables I should be setting (and how)?

[2021-12-16 09:11] lilyball commented on #41
Alternatively, should I be installing Gcenx's 1.1.6? I see the install script was [updated a few days ago](https://github.com/marzent/ffxiv-on-mac/commit/ae40622c3f4ca1b60c5d38f4d3a1800733223c97) to suggest just Gcenx's, but I don't know if there's a benefit to switching now, or even what the right way to do so is (the instructions just talk about installing, not about updating).

[2021-12-16 09:12] seathasky commented on #41
@lilyball Hey there lily, you want to use this release instead as it is the latest version of 1.1.6 and now included in our script sorry for the confusion. https://github.com/Gcenx/MoltenVK/releases

[2021-12-16 09:14] lilyball commented on #41
@seathasky Is there a canonical way to apply updates like this, or do I need to go look at the install script and overwrite the files manually?

[2021-12-16 09:15] seathasky commented on #41
Just use our script, and skip the crosstie to update

[2021-12-16 09:15] FleetAdmiralButter commented on #41
Hey @lilyball - if you run our install script and select option 1) it should select and automatically pull in the latest release of MoltenVK from https://github.com/Gcenx/MoltenVK/releases. The latest patch sets up the most appropriate hardware sync method for your GPU (Apple/AMD/Nvidia).

[2021-12-16 09:18] lilyball commented on #41
I just copied the file over by hand 😅 looking at the script, it does appear to unconditionally overwrite the `libMoltenVK.dylib.bak` file, meaning if I had used it to update, I would no longer have the original `libMoltenVK.dylib` file that came with CrossOver in the event that I decided to revert it.

[2021-12-16 09:21] seathasky commented on #41
We include the original in the script from current stable Crossover so yes, you wouldn't have yours but you technically wouldn't lose it

[2021-12-16 09:23] lilyball commented on #41
The script offers to reinstall the version from 21.0.0, but the current version is 21.1.0. I have no idea if libMoltenVK.dylib changed at all in 21.1.0 though.

[2021-12-16 09:25] FleetAdmiralButter commented on #41
@lilyball, I forgot to mention earlier - if you use option 1) to pull in the latest libMoltenVK from Gcenx, you no longer need to set any MoltenVK-related environment variables because -

Also mentioning it again in case anyone stumbles across this again in the future :)

I don't believe there are any updates to either DXVK or MoltenVK in the update from 21.0 to 21.1 - this update mostly focused o

[2021-12-16 09:26] seathasky commented on #41
The moltenvk version from 21.0 and 21.1 are exactly the same @lilyball

[2021-12-16 10:32] marzent commented on #41
This is not true though the -n flag prevents overriding, your original backup is always safe

[2021-12-16 10:33] marzent commented on #41
In fact if the script failed at any point all backups will always be save the way it’s setup

[2021-12-16 22:08] front-endian opened #49 "Game stuck loading data center"
I went through all the steps in your guide successfully (thanks for putting together this guide!), and the game launches. However, when I hit "Start" in game it asks me to select a datacenter, then says it is connecting to datacenter, and then I am brought to a black loading screen with a spinner in the bottom right corner. It ends up stuck here endlessly.

M1 Max system running Monterey 12.1

Let

[2021-12-16 22:13] seathasky commented on #49
https://github.com/seathasky/FF14-MAC_ModSupport#troubleshooting

[2021-12-16 22:13] #49 closed, assigned to seathasky

[2021-12-18 09:51] front-endian commented on #49
Thank you! I was dumb and skipped over that step because it wasn't entering a cutscene. Fixed that issue perfectly.

[2021-12-22 09:35] justcolin commented on #41
**Computer:** M1 Max 32 GB (14" MBP)
** DXVK:** 1.9.2
**MVK:** 1.1.6 from the latest installer

[2021-12-22 09:41] front-endian commented on #41
**Computer:** M1 Max 32 GB (14" MBP)
**DXVK:** 1.9.2 with async patches enabled
**MVK:** 1.1.6 from the latest installer

Framerates have been incredible (well above 60fps average, often stays around 100–120), but I'm getting random stutters where the whole game freezes, and audio stops for a split second every so often. Haven't really noticed a pattern to it.

Tried a few library versions, but ha

[2021-12-23 00:44] Graendhal opened #50 "Game launches but can’t get past start menu"
First of all, thank you for your work on this. See this is what tipped the scale and made me buy a MacBook Pro rather than hold off for a windows laptop.

Second, I am following your guide, but ran into an issue. I have tried following it to the tee, but I am new on macOS so perhaps there was user error on my end. I have followed all the steps (I think) up to Step 3 where we install ACT and specif

[2021-12-23 01:15] seathasky commented on #50
https://github.com/seathasky/FF14-MAC_ModSupport#infinite-black-screen-fix

[2021-12-23 03:53] quangxdu opened #51 "New recurring dx11 game crash"
M1 max 14 inch, 32 gb ram.
DXVK patch 1.9.2-async.
moltenVK 1.1.6
<img width="1512" alt="Screen Shot 2021-12-22 at 9 52 08 PM" src="https://user-images.githubusercontent.com/6291350/147185578-8ef86f50-f875-4024-957e-2804f104b40a.png">

[2021-12-23 05:08] #50 closed, assigned to nobody

[2021-12-23 05:20] seathasky commented on #51
What version of CX are you using?

[2021-12-23 05:27] FleetAdmiralButter commented on #51
Hey @quangxdu, have you manually made any changes to the environment variables in cxbottle.conf? If not, could you post the contents of the file here?

[2021-12-23 19:01] quangxdu commented on #51
CX21, I managed to resolve the issue by resetting the version of dxvk used by crossover.

[2021-12-24 06:27] front-endian commented on #41
Downgrading to MVK 1.1.4 dropped the frame rate to around 80 in most areas, but the short freezes seem to be rarer now, though still getting a couple.

[2021-12-24 06:30] seathasky commented on #41
Short freezes are due to on the fly shader caching most likely. Eventually you should build your cache up enough to stop the small freezes. I would recommend giving 1.1.6 a chance until you've played a bit longer or grab the cache file Marzent posted in support in our discord, I will pin it for you to download.

[2021-12-24 08:47] front-endian commented on #41
Gotcha, I'll reload 1.1.6 tomorrow with that cache and see if it helps. Thank you!

[2021-12-24 14:07] seathasky commented on #51
If you need more assistance, join us in discord.

[2021-12-24 14:07] #51 closed, assigned to nobody

[2021-12-24 14:08] #44 closed, assigned to seathasky

[2021-12-26 02:46] stea1e commented on #25
M1 Mac Mini 16GB
Vulkan: 1.1.198
Resolution: 2560x1440p, borderless windowed
Graphics Settings: Standard (Mac)
FPS: 25-30 in Goblet, outside FC house

[2021-12-26 02:53] seathasky commented on #25
Sounds about right. Unfortunately you are both CPU and GPU bound here ;(

[2021-12-27 15:52] reckenrode commented on #44
@marzent Should I open a PR against marzent/ffxiv-on-mac, or is this outside the scope of your repo?

[2021-12-27 15:59] marzent commented on #44
Feel free to open a PR, am currently working more on the standalone wrapper but that doesn’t mean the CX patcher should be neglected ;)

As a small addition your script currently doesn’t handle non standard install locations very well, maybe it’s better to give it a game folder as argument in case it can’t find a Bottle

[2021-12-27 16:00] seathasky commented on #44
~~Use the discord #development channel and ping Marzent~~
Nevermind 😁

[2022-01-10 07:04] FleetAdmiralButter commented on #25
Moving issue to https://github.com/marzent/XIV-on-Mac/issues/18 as this repository is now deprecated.

[2022-01-10 07:04] #25 closed, assigned to nobody

[2022-02-10 11:45] ReiArp opened #52 "XIV launcher failed to check for updates"
<img width="432" alt="Screen Shot 2022-02-10 at 07 09 40" src="https://user-images.githubusercontent.com/98978749/153402388-8ed4f305-1a58-4fdb-a609-544dd20da490.png">
Anyone experience with this error?

[2022-02-18 00:20] pinkybeans opened #53 "The Square Enix Account Unable To Play"
![unable](https://user-images.githubusercontent.com/99928131/154593589-853f00b9-9e74-4d7c-b572-d5be85846c31.png)

download for my Mac M1, already activated on mog station, status standard and up running until March 18. but still unable to login. what should i do? contact Square Enix or reinstall everything and retry? bcs i dont want to run the application without crossover or else itll stuck my wh

[2022-02-18 00:51] seathasky commented on #53
![Screen Shot 2022-02-17 at 7 50 42 PM](https://user-images.githubusercontent.com/17598024/154596465-cc9ce46c-c695-462f-83fa-a6d27018dc2b.png)
Make sure you have the correct license set.

[2022-02-18 01:44] pinkybeans commented on #53
i tried to find the license, but it doesnt show up when i click the launcher and crossover.
![licesne](https://user-images.githubusercontent.com/99928131/154601652-1a7703b8-066e-4b32-b092-16f1a424b386.png)
![joke](https://user-images.githubusercontent.com/99928131/154601646-8699eeda-a8fb-485d-9b42-dc223ab7efda.png)

[2022-02-18 15:08] seathasky commented on #53
Oh my bad. Wrong project. Sorry I was referring to the new project. The CX project has been discontinued. Clearly says it on the opening statement of the github, use XIV on Mac instead.

[2022-02-18 15:08] #53 closed, assigned to nobody

[2022-02-18 15:09] seathasky commented on #52
We no longer support this guide. Use XIV on Mac.

[2022-02-18 15:09] #52 closed, assigned to nobody